<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<bean id="placeholderConfig" class="com.xinchi.tools.PropertiesUtil">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:properties/sys.properties</value>
				<value>file:/var/simpletiny/jdbc.properties</value>
				<value>file:/var/simpletiny/sys.properties</value>
			</list>
		</property>
	</bean>
	<!-- 配置线程池 -->
	<!-- <bean id ="taskExecutor" class ="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" 
		> 线程池维护线程的最少数量 <property name ="corePoolSize" value ="50" /> 线程池维护线程所允许的空闲时间 
		<property name ="keepAliveSeconds" value ="3000" /> 线程池维护线程的最大数量 <property 
		name ="maxPoolSize" value ="1000" /> 线程池所使用的缓冲队列 <property name ="queueCapacity" 
		value ="200" /> </bean> -->
	<!-- ****************数据源配置**************** -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${ibatis.connection.url}" />
		<property name="driverClass" value="${ibatis.connection.driver_class}" />
		<property name="user" value="${ibatis.connection.username}" />
		<property name="password" value="${ibatis.connection.password}" />
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
		<property name="initialPoolSize" value="${c3p0.initialPoolSize}" />
		<property name="minPoolSize" value="${c3p0.minPoolSize}" />
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
		<property name="maxStatements" value="${c3p0.maxStatements}" />
		<property name="numHelperThreads" value="${c3p0.numHelperThreads}" />
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
		<property name="preferredTestQuery">
			<value>SELECT 1 FROM TABLE</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>0</value>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:myBatis/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="com.xinchi.backend.**.dao" p:sqlSessionFactoryBeanName="sqlSessionFactory" /> -->

	<!-- 启用spring注解支持 -->
	<context:annotation-config />

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- shiro start -->
	<!-- <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"> 
		<property name="securityManager" ref="securityManager" /> <property name="loginUrl" 
		value="/login" /> <property name="successUrl" value="/management/index" /> 
		<property name="filters"> <map> <entry key="authc" value-ref="baseFormAuthenticationFilter"/> 
		是否启用验证码检验 <entry key="authc" value-ref="captchaFormAuthenticationFilter" 
		/> <entry key="user" value-ref="dWZUserFilter" /> </map> </property> <property 
		name="filterChainDefinitions"> <value> /Captcha.jpg = anon /styles/** = anon 
		/login/timeout = anon /login = authc /logout = logout /** = user </value> 
		</property> </bean> <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"> 
		<property name="realm" ref="shiroDbRealm" /> 缓存用户的授权信息 <property name="cacheManager" 
		ref="shiroEhcacheManager" /> </bean> <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> 
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml" 
		/> </bean> <bean id="shiroDbRealm" class="com.xinchi.common.ShiroDbRealm" 
		depends-on=""> </bean> -->

	<!-- shiro end -->

	<!-- liquibase start -->
	<bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:liquibase/changelog/changelog.xml" />

		<!-- contexts specifies the runtime contexts to use. -->
		<property name="contexts" value="test, production" />
	</bean>
	<!-- liquibase end -->

	<!-- 配置事务管理spring3注解配置事务 -->
	<!-- service类添加@Transactional或者单一原子方法@Transactional(propagation=Propagation.REQUIRED)注解即可 -->
	<context:component-scan base-package="com.xinchi" />
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>