{% extends "layout.html" %}

{% block title %}
    - 简历搜索
{% endblock %}

{% block style %}

    <link rel="stylesheet" type="text/css" href="/static/vendor/datetimepicker/jquery.datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/vendor/multiple-select/multiple-select.css"/>

{% endblock %}

{% block content%}
  <div class="main-body">
    <div class="subtitle">
        <h2>简历搜索</h2>
    </div>

    <div class="main-container">
        <div class="main-box">
            <form class="form-horizontal search-panel">
                <div class="form-group">
                    <div align="left">
                        <label class="col-md-1 control-label">姓名</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value: query().name" placeholder="姓名">
                        </div>
                    </div>
                    <div align="left">
                        <label class="col-md-1 control-label">年龄起始</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control number" data-bind="value: query().startAge" placeholder="年龄起始">
                        </div>
                    </div>
                    <div align="left">
                        <label class="col-md-1 control-label">年龄截止</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control number" data-bind="value: query().endAge" placeholder="年龄截止">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div align="left">
                        <label class="col-md-1 control-label" style="width: 80px;">意向岗位</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value: query().targetPosition" placeholder="意向岗位">
                        </div>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">工作城市</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value: query().targetLocation" placeholder="工作城市">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div align="left">
                        <label class="col-md-1 control-label">更新起始</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datetime-picker" data-bind="value: resumeUpdateStartDateRaw" placeholder="更新起始">
                        </div>
                    </div>
                    <div align="left">
                        <label class="col-md-1 control-label">更新截止</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datetime-picker" data-bind="value: resumeUpdateEndDateRaw" placeholder="更新截止">
                        </div>
                    </div>
                    <div>
                        <label class="col-md-1 control-label" style="width: 60px;">所在地</label>
                        <div class="col-md-2" style="width: 200px;">
                            <input type="text" class="form-control" data-bind="value: query().location" placeholder="所在地">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div align="left">
                        <label class="col-md-1 control-label">登陆起始</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datetime-picker" data-bind="value: loginStartDateRaw" placeholder="登陆起始">
                        </div>
                    </div>
                    <div align="left">
                        <label class="col-md-1 control-label">登陆截止</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datetime-picker" data-bind="value: loginEndDateRaw" placeholder="登陆截止">
                        </div>
                    </div>
                    <div align="left">
                        <label class="col-md-2 control-label" style="width: 100px;">营销次数</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control number" data-bind="value: query().invitedCount" placeholder="营销次数">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-green col-md-1" data-bind="click: function() { resetPage(); searchResumes() }">搜索</button>
                        <a class="btn btn-green col-md-1" id="import-resumes-btn">导入到批次</a>
                        <span id="search-total-count"></span>
                    </div>
                </div>
            </form>

            <div class="list-result">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr role="row">
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>意向岗位</th>
                            <th>工作城市</th>
                            <th>简历更新时间</th>
                            <th>所在地</th>
                            <th>登陆时间</th>
                            <th>营销次数</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: resumes().items">
                    <tr>
                        <td data-bind="text: $data.name"></td>
                        <td data-bind="text: $data.gender"></td>
                        <td data-bind="text: $data.age"></td>
                        <td data-bind="text: $data.tarPosition"></td>
                        <td data-bind="text: $data.targetLocation"></td>
                        <td data-bind="text: $data.resumeUpdatedTime == null?'':moment($data.resumeUpdatedTime).format('YYYY-MM-DD HH:mm')"></td>
                        <td data-bind="text: $data.location"></td>
                        <td data-bind="text: $data.lastLoginTime == null?'':moment($data.lastLoginTime).format('YYYY-MM-DD HH:mm')"></td>
                        <td data-bind="text: $data.invitedCount"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination clearfloat">
                <a data-bind="click: previousPage, enable: currentPage() > 1" class="prev">Prev</a>
                <!-- ko foreach: pageNums -->
                <!-- ko if: $data == $root.currentPage() -->
                <span class="current" data-bind="text: $data"></span>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.currentPage() -->
                <a data-bind="text: $data, click: $root.turnPage"></a>
                <!-- /ko -->
                <!-- /ko -->
                <a data-bind="click: nextPage, enable: currentPage() < pageNums().length" class="next">Next</a>
            </div>
        </div>
    </div>
  </div>

    <div id="page-import-resumes" style=" display: none; width: 320px; padding-top: 30px;">
        <div id="display-employee">
            <div class="input-row clearfloat" style="width: 320px;">
                <div class="ip"><select class="form-control" data-bind="options: batches().items, optionsCaption: '-- 请选择批次 --', optionsText: 'name', value: chosenBatch"></select></div>
            </div>

            <div class="input-row clearfloat" style="width: 320px;">
                <div class="ip"><input type="number" min="0" id="dd" data-bind="value: exportCount" class="ip-" placeholder="人数" /></div>
            </div>

            <div align="center" style="padding-top: 30px;"><a class="btn btn-green btn-r" data-bind="click: exportResumesToBatch">导入批次</a></div>
        </div>
    </div>
<script src="/static/vendor/datetimepicker/jquery.datetimepicker.js"></script>
<script>
    $(".wechat").addClass("current").children("ol").css("display", "block");
</script>
<script src="/static/js/wechat/resume-detail.js{{ _suffix_ }}"></script>
{% endblock %}
