{% extends "layout.html" %}

{% block title %}
- 批次管理
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/vendor/datetimepicker/jquery.datetimepicker.css"/>
{% endblock %}

{% block content%}
<div class="main-body">
    <div class="subtitle">
        <h2>批次管理</h2>
    </div>

    <div class="main-container">
        <div class="main-box">
            <div class="form-group">
                <div>
                    <button class="btn btn-green col-md-1" id="create-batch-btn">新建批次</button>
                </div>
            </div>
            <div class="list-result">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr role="row">
                        <th>批次名称</th>
                        <th>名单人数</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: batches().items">
                    <tr>
                        <td><a href="javascript:void(0)" data-bind="text: $data.name, attr: {href: '/wechat/batch/' + id + '/edit'}"></a></td>
                        <td data-bind="text: $data.targetsCount"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </div>
</div>

<div id="batch-creation" style=" display: none; width: 600px; padding-top: 30px;">
    <div class="main-box">
        <form class="info-form">
            <div class="input-row clearfloat required">
                <label class="l">批次名称</label>
                <div class="ip"><input type="text" class="ip-default" data-bind="value: batch().name" placeholder="批次名称" name="name" required="required"/></div>
            </div>
        </form>
        <div align="right"><a type="submit" class="btn btn-green btn-r" data-bind="click: createBatch">保存</a></div>
    </div>
</div>
<script>
    $(".wechat").addClass("current").children("ol").css("display", "block");
</script>
<script type="text/javascript" src="/static/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/vendor/messages_zh.min.js"></script>
<script src="/static/vendor/datetimepicker/jquery.datetimepicker.js"></script>
<script src="/static/js/validation.js{{ _suffix_ }}"></script>
<script src="/static/js/wechat/wechat-project.js{{ _suffix_ }}"></script>
{% endblock %}
