<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.AirTicketNameListMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.AirTicketNameListBean">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="client_number" property="client_number" jdbcType="VARCHAR" />
		<result column="first_ticket_date" property="first_ticket_date" jdbcType="VARCHAR" />
		<result column="first_start_city" property="first_start_city" jdbcType="VARCHAR" />
		<result column="first_end_city" property="first_end_city" jdbcType="VARCHAR" />
		<result column="ticket_order_pk" property="ticket_order_pk" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="sale_product_pk" property="sale_product_pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="first_from_to" property="first_from_to" jdbcType="VARCHAR" />
		<result column="client_name" property="client_name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="change_pk" property="change_pk" jdbcType="CHAR" />
		<result column="order_number" property="order_number" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="need_comment" property="need_comment" jdbcType="VARCHAR" />
		<result column="name_confirm_status" property="name_confirm_status" jdbcType="VARCHAR" />
		<result column="cellphone_A" property="cellphone_A" jdbcType="VARCHAR" />
		<result column="cellphone_B" property="cellphone_B" jdbcType="VARCHAR" />
		<result column="chairman" property="chairman" jdbcType="CHAR" />
		<result column="ticket_cost" property="ticket_cost" jdbcType="DECIMAL" />
		<result column="days" property="days" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="InfoResultMap" extends="BaseResultMap" type="com.xinchi.bean.AirTicketNameListBean">
		<collection column="pk" property="ticket_infos" ofType="com.xinchi.bean.PassengerTicketInfoBean" select="selectTicketInfosByPassenger_pk">
			<result column="ticket_source" property="ticket_source" jdbcType="VARCHAR" />
			<result column="ticket_source_pk" property="ticket_source_pk" jdbcType="CHAR" />
			<result column="ticket_cost" property="ticket_cost" jdbcType="DECIMAL" />
			<result column="PNR" property="PNR" jdbcType="VARCHAR" />
			<result column="passenger_pk" property="passenger_pk" jdbcType="CHAR" />
			<result column="ticket_index" property="ticket_index" jdbcType="INTEGER" />
			<result column="ticket_date" property="ticket_date" jdbcType="VARCHAR" />
			<result column="ticket_number" property="ticket_number" jdbcType="VARCHAR" />
			<result column="from_to_time" property="from_to_time" jdbcType="VARCHAR" />
			<result column="from_to_city" property="from_to_city" jdbcType="VARCHAR" />
			<result column="from_airport" property="from_airport" jdbcType="VARCHAR" />
			<result column="to_airport" property="to_airport" jdbcType="VARCHAR" />
			<result column="terminal" property="terminal" jdbcType="VARCHAR" />
			<result column="update_user" property="update_user" jdbcType="VARCHAR" />
			<result column="create_user" property="create_user" jdbcType="VARCHAR" />
			<result column="pk" property="pk" jdbcType="CHAR" />
			<result column="create_time" property="create_time" jdbcType="VARCHAR" />
			<result column="update_time" property="update_time" jdbcType="VARCHAR" />
			<result column="base_pk" property="base_pk" jdbcType="CHAR" />
		</collection>
	</resultMap>

	<select id="selectTicketInfosByPassenger_pk" parameterType="java.lang.String" resultType="com.xinchi.bean.PassengerTicketInfoBean">
		select * from
		passenger_ticket_info
		where passenger_pk = #{pk,jdbcType=CHAR}
		order by ticket_index
	</select>

	<select id="selectWithInfoByTeamNumbers" resultMap="InfoResultMap">
		select
		*
		from air_ticket_name_list
		where team_number in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by team_number
	</select>

	<sql id="Base_Column_List">

		team_number,
		client_number,
		first_ticket_date,
		first_start_city,
		first_end_city,
		ticket_order_pk,
		name,
		id,
		sale_product_pk,
		create_user,
		pk,
		update_user,
		create_time,
		update_time,
		status,
		order_number,
		comment,
		change_pk,
		cellphone_A,
		cellphone_B,
		chairman
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from air_ticket_name_list
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<select id="selectByPayablePk" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		B.*
		FROM
		passenger_ticket_info A
		LEFT
		JOIN
		air_ticket_name_list B ON A.passenger_pk = B.pk
		WHERE
		A.base_pk = #{payable_pk,jdbcType=CHAR}
		AND A.ticket_index = 1
	</select>
	<select id="selectByTeamNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		*
		FROM
		air_ticket_name_list
		where
		team_number = #{team_number,jdbcType=CHAR}
	</select>
	<select id="selectByChangePk" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		*
		FROM
		air_ticket_name_list
		where
		change_pk = #{change_pk,jdbcType=CHAR}
	</select>

	<select id="selectByTeamNumbers" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from air_ticket_name_list
		where team_number in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by team_number
	</select>

	<select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		*
		FROM
		air_ticket_name_list
		where
		order_number = #{order_number,jdbcType=CHAR}
	</select>

	<select id="selectByPks" resultMap="BaseResultMap">
		select
		A.team_number,
		A.client_number,
		A.first_ticket_date,
		A.first_start_city,
		A.first_end_city,
		A.ticket_order_pk,
		A.name,
		A.id,
		A.sale_product_pk,
		A.create_user,
		A.pk,
		A.update_user,
		A.create_time,
		A.update_time,
		A.status,
		A.order_number,
		A.comment,
		B.ticket_cost,
		A.change_pk
		from air_ticket_name_list A
		LEFT JOIN
		view_sum_ticket_cost B ON A.pk= B.passenger_pk
		where A.pk in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from air_ticket_name_list
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.AirTicketNameListBean">

		insert into air_ticket_name_list

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				team_number,
			</if>
			<if test="client_number != null">
				client_number,
			</if>
			<if test="first_ticket_date != null">
				first_ticket_date,
			</if>
			<if test="first_start_city != null">
				first_start_city,
			</if>
			<if test="first_end_city != null">
				first_end_city,
			</if>
			<if test="ticket_order_pk != null">
				ticket_order_pk,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="id != null">
				id,
			</if>
			<if test="sale_product_pk != null">
				sale_product_pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="order_number != null">
				order_number,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="cellphone_A != null">
				cellphone_A,
			</if>
			<if test="cellphone_B != null">
				cellphone_B,
			</if>
			<if test="chairman != null">
				chairman,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				#{team_number,jdbcType=VARCHAR},
			</if>
			<if test="client_number != null">
				#{client_number,jdbcType=VARCHAR},
			</if>
			<if test="first_ticket_date != null">
				#{first_ticket_date,jdbcType=VARCHAR},
			</if>
			<if test="first_start_city != null">
				#{first_start_city,jdbcType=VARCHAR},
			</if>
			<if test="first_end_city != null">
				#{first_end_city,jdbcType=VARCHAR},
			</if>
			<if test="ticket_order_pk != null">
				#{ticket_order_pk,jdbcType=CHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="sale_product_pk != null">
				#{sale_product_pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="order_number != null">
				#{order_number,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="cellphone_A != null">
				#{cellphone_A,jdbcType=VARCHAR},
			</if>
			<if test="cellphone_B != null">
				#{cellphone_B,jdbcType=VARCHAR},
			</if>
			<if test="chairman != null">
				#{chairman,jdbcType=CHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.AirTicketNameListBean">
		update air_ticket_name_list
		<set>
			<if test="team_number != null">
				team_number = #{team_number,jdbcType=VARCHAR},
			</if>
			<if test="client_number != null">
				client_number = #{client_number,jdbcType=VARCHAR},
			</if>
			<if test="first_ticket_date != null">
				first_ticket_date = #{first_ticket_date,jdbcType=VARCHAR},
			</if>
			<if test="first_start_city != null">
				first_start_city = #{first_start_city,jdbcType=VARCHAR},
			</if>
			<if test="first_end_city != null">
				first_end_city = #{first_end_city,jdbcType=VARCHAR},
			</if>
			<if test="ticket_order_pk != null">
				ticket_order_pk = #{ticket_order_pk,jdbcType=CHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="sale_product_pk != null">
				sale_product_pk = #{sale_product_pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="order_number != null">
				order_number = #{order_number,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="change_pk != null">
				change_pk = #{change_pk,jdbcType=CHAR},
			</if>
			<if test="cellphone_A != null">
				cellphone_A = #{cellphone_A,jdbcType=VARCHAR},
			</if>
			<if test="cellphone_B != null">
				cellphone_B = #{cellphone_B,jdbcType=VARCHAR},
			</if>
			<if test="chairman != null">
				chairman = #{chairman,jdbcType=CHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.AirTicketNameListBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from air_ticket_name_list
		<where>
			<if test="ticket_order_pk != null and ticket_order_pk !='' ">
				and ticket_order_pk = #{ticket_order_pk,jdbcType=CHAR}
			</if>
			<if test="team_number != null and team_number !='' ">
				and team_number = #{team_number,jdbcType=VARCHAR}
			</if>
			<if test="order_number != null and order_number !='' ">
				and order_number = #{order_number,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.team_number,
		A.client_number,
		A.order_number,
		A.comment,
		B.user_name AS client_name,
		CONCAT(A.first_start_city,'--',A.first_end_city) AS
		first_from_to,
		A.first_ticket_date,
		A.first_start_city,
		A.first_end_city,
		A.ticket_order_pk,
		A.name,
		A.id,
		A.sale_product_pk,
		A.create_user,
		A.pk,
		A.update_user,
		A.create_time,
		A.update_time,
		A.status,
		C.name_confirm_status,
		C.days,
		E.comment AS need_comment

		from air_ticket_name_list A LEFT JOIN
		user_base B ON A.client_number=
		B.user_number
		LEFT JOIN budget_order_view C ON
		A.team_number=C.team_number
		LEFT JOIN
		air_ticket_order E ON A.ticket_order_pk = E.pk
		<where>
			<if test="params.bo.client_name != null and params.bo.client_name !=''">
				and B.user_name like CONCAT('%',#{params.bo.client_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.team_number != null and params.bo.team_number !=''">
				and A.team_number like CONCAT('%',#{params.bo.team_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.order_number != null and params.bo.order_number !=''">
				and A.order_number like CONCAT('%',#{params.bo.order_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.name != null and params.bo.name !=''">
				and A.name like CONCAT('%',#{params.bo.name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.status != null and params.bo.status !=''">
				and A.status=#{params.bo.status,jdbcType=CHAR}
			</if>
			<if test="params.bo.date_from != null and params.bo.date_from !=''">
				and A.first_ticket_date>=#{params.bo.date_from,jdbcType=CHAR}
			</if>
			<if test="params.bo.date_to != null and params.bo.date_to !=''">
				and A.first_ticket_date&lt;=#{params.bo.date_to,jdbcType=CHAR}
			</if>
		</where>
		ORDER BY A.order_number,A.team_number,ticket_order_pk,A.first_ticket_date
	</select>
	<select id="selectDoneByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.team_number,
		A.client_number,
		A.order_number,
		A.comment,
		B.user_name AS client_name,
		CONCAT(A.first_start_city,'--',A.first_end_city) AS
		first_from_to,
		A.first_ticket_date,
		A.first_start_city,
		A.first_end_city,
		A.ticket_order_pk,
		A.name,
		A.id,
		A.sale_product_pk,
		A.create_user,
		A.pk,
		A.update_user,
		A.create_time,
		A.update_time,
		A.status,
		C.name_confirm_status,
		D.ticket_cost,
		A.change_pk,
		C.days,
		E.comment AS need_comment

		from
		air_ticket_name_list A LEFT JOIN
		user_base B
		ON A.client_number=
		B.user_number
		LEFT JOIN budget_order_view C ON
		A.team_number=C.team_number
		LEFT JOIN
		view_sum_ticket_cost D ON A.pk= D.passenger_pk
		LEFT JOIN
		air_ticket_order E ON
		A.ticket_order_pk = E.pk
		<where>
			and A.status in ('Y','C')
			<if test="params.bo.client_name != null and params.bo.client_name !=''">
				and B.user_name like CONCAT('%',#{params.bo.client_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.team_number != null and params.bo.team_number !=''">
				and A.team_number like CONCAT('%',#{params.bo.team_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.order_number != null and params.bo.order_number !=''">
				and A.order_number like CONCAT('%',#{params.bo.order_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.name != null and params.bo.name !=''">
				and A.name like CONCAT('%',#{params.bo.name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.date_from != null and params.bo.date_from !=''">
				and A.first_ticket_date>=#{params.bo.date_from,jdbcType=CHAR}
			</if>
			<if test="params.bo.date_to != null and params.bo.date_to !=''">
				and A.first_ticket_date&lt;=#{params.bo.date_to,jdbcType=CHAR}
			</if>
		</where>
		ORDER BY A.order_number,A.team_number,ticket_order_pk,A.first_ticket_date
	</select>

	<select id="selectTicketOrderPksByPassengerPks" resultType="java.lang.String">
		select
		distinct ticket_order_pk
		from air_ticket_name_list
		where pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>