<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.AirTicketOrderLegMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.AirTicketOrderLegBean">
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="ticket_order_pk" property="ticket_order_pk" jdbcType="CHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="sort_index" property="sort_index" jdbcType="INTEGER" />
		<result column="from_city" property="from_city" jdbcType="VARCHAR" />
		<result column="to_city" property="to_city" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		pk,
		ticket_order_pk,
		date,
		sort_index,
		from_city,
		to_city,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from air_ticket_order_leg
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByOrderPk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from air_ticket_order_leg
		where ticket_order_pk = #{order_pk,jdbcType=CHAR}

		ORDER BY sort_index
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from air_ticket_order_leg
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.AirTicketOrderLegBean">

		insert into air_ticket_order_leg

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pk != null">
				pk,
			</if>
			<if test="ticket_order_pk != null">
				ticket_order_pk,
			</if>
			<if test="date != null">
				date,
			</if>
			<if test="sort_index != null">
				sort_index,
			</if>
			<if test="from_city != null">
				from_city,
			</if>
			<if test="to_city != null">
				to_city,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="ticket_order_pk != null">
				#{ticket_order_pk,jdbcType=CHAR},
			</if>
			<if test="date != null">
				#{date,jdbcType=VARCHAR},
			</if>
			<if test="sort_index != null">
				#{sort_index,jdbcType=INTEGER},
			</if>
			<if test="from_city != null">
				#{from_city,jdbcType=VARCHAR},
			</if>
			<if test="to_city != null">
				#{to_city,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.AirTicketOrderLegBean">
		update air_ticket_order_leg
		<set>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="ticket_order_pk != null">
				ticket_order_pk = #{ticket_order_pk,jdbcType=CHAR},
			</if>
			<if test="date != null">
				date = #{date,jdbcType=VARCHAR},
			</if>
			<if test="sort_index != null">
				sort_index = #{sort_index,jdbcType=INTEGER},
			</if>
			<if test="from_city != null">
				from_city = #{from_city,jdbcType=VARCHAR},
			</if>
			<if test="to_city != null">
				to_city = #{to_city,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.AirTicketOrderLegBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from air_ticket_order_leg
	</select>
	
	<select id="selectAirLegByOrderPks" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from air_ticket_order_leg
		where ticket_order_pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>