<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ClientInoutImgMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ClientInoutImgBean">
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="img_name" property="img_name" jdbcType="VARCHAR" />
		<result column="img_type" property="img_type" jdbcType="CHAR" />
		<result column="client_pk" property="client_pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		pk,
		img_name,
		client_pk,
		img_type,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from client_inout_img
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByClientPk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from client_inout_img
		where client_pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from client_inout_img
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.ClientInoutImgBean">

		insert into client_inout_img

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pk != null">
				pk,
			</if>
			<if test="img_name != null">
				img_name,
			</if>
			<if test="client_pk != null">
				client_pk,
			</if>
			<if test="img_type != null">
				img_type,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="img_name != null">
				#{img_name,jdbcType=VARCHAR},
			</if>
			<if test="client_pk != null">
				#{client_pk,jdbcType=CHAR},
			</if>
			<if test="img_type != null">
				#{img_type,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ClientInoutImgBean">
		update client_inout_img
		<set>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="img_name != null">
				img_name = #{img_name,jdbcType=VARCHAR},
			</if>
			<if test="client_pk != null">
				client_pk = #{client_pk,jdbcType=CHAR},
			</if>
			<if test="img_type != null">
				img_type = #{img_type,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ClientInoutImgBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from client_inout_img
	</select>
</mapper>