<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ClientRelationSummaryMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ClientRelationSummaryBean">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="client_employee_name" property="client_employee_name" jdbcType="VARCHAR" />
		<result column="client_employee_pk" property="client_employee_pk" jdbcType="CHAR" />
		<result column="sales" property="sales" jdbcType="VARCHAR" />
		<result column="sales_name" property="sales_name" jdbcType="VARCHAR" />
		<result column="year_order_count" property="year_order_count" jdbcType="BIGINT" />
		<result column="month_order_count" property="month_order_count" jdbcType="BIGINT" />
		<result column="week_order_count" property="week_order_count" jdbcType="BIGINT" />
		<result column="last_confirm_date" property="last_confirm_date" jdbcType="VARCHAR" />
		<result column="last_order_period" property="last_order_period" jdbcType="INTEGER" />
		<result column="visit_count" property="visit_count" jdbcType="BIGINT" />
		<result column="last_visit_period" property="last_visit_period" jdbcType="INTEGER" />
		<result column="chat_count" property="chat_count" jdbcType="BIGINT" />
		<result column="last_chat_period" property="last_chat_period" jdbcType="INTEGER" />
		<result column="receivable" property="receivable" jdbcType="DECIMAL" />
		<result column="last_receivable_period" property="last_receivable_period" jdbcType="INTEGER" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		client_employee_name,
		client_employee_pk,
		sales,
		sales_name,
		year_order_count,
		month_order_count,
		week_order_count,
		last_confirm_date,
		last_order_period,
		visit_count,
		last_visit_period,
		chat_count,
		last_chat_period,
		receivable,
		last_receivable_period
	</sql>

	<select id="selectByParam" parameterType="com.xinchi.bean.ClientRelationSummaryBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from client_relation_summary
	</select>

	<select id="selectClientCount" parameterType="java.lang.String" resultType="java.lang.String">
		select count(*) from client_employee
		<where>
			<if test="_parameter != null and _parameter !=''">
				and (sales_name like CONCAT('%',#{_parameter,jdbcType=VARCHAR},'%'))
			</if>
		</where>
	</select>
	<select id="selectWeekOrder" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from budget_order A left JOIN user_base B on A.create_user = B.user_number
		<where>
			and A.confirm_date >= DATE_ADD(CURDATE(),INTERVAL -WEEKDAY(CURDATE()) DAY)
			and A.confirm_date &lt;=date_sub(CURDATE(),INTERVAL WEEKDAY(CURDATE()) - 6 DAY)
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectMonthOrder" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from budget_order A left JOIN user_base B on A.create_user = B.user_number
		<where>
			and LEFT(A.confirm_date,7)=DATE_FORMAT(NOW(),'%Y-%m')
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectYesterdayVisit" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and A.date = DATE_SUB(current_date, INTERVAL 1 DAY)
			and A.type='VISIT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectWeekVisit" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and A.date >= DATE_ADD(CURDATE(),INTERVAL -WEEKDAY(CURDATE()) DAY)
			and A.date &lt;=date_sub(CURDATE(),INTERVAL WEEKDAY(CURDATE()) - 6 DAY)
			and A.type='VISIT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectMonthVisit" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and LEFT(A.date,7)=DATE_FORMAT(NOW(),'%Y-%m')
			and A.type='VISIT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectYesterdayChat" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and A.date = DATE_SUB(current_date, INTERVAL 1 DAY)
			and A.type='CHAT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectWeekChat" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and A.date >= DATE_ADD(CURDATE(),INTERVAL -WEEKDAY(CURDATE()) DAY)
			and A.date &lt;=date_sub(CURDATE(),INTERVAL WEEKDAY(CURDATE()) - 6 DAY)
			and A.type='CHAT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectMonthChat" parameterType="java.lang.String" resultType="java.lang.String">
		select count(A.pk) from client_visit A LEFT JOIN user_base B on A.create_user= B.user_number
		<where>
			and LEFT(A.date,7)=DATE_FORMAT(NOW(),'%Y-%m')
			and A.type='CHAT'
			<if test="_parameter != null and _parameter !=''">
				and B.user_name = #{_parameter,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from client_relation_summary
		<where>
			<if test="params.bo.sales != null and params.bo.sales !=''">
				and (sales like CONCAT('%',#{params.bo.sales,jdbcType=VARCHAR},'%'))
			</if>
			<if test="params.bo.sales_name != null and params.bo.sales_name !=''">
				and (sales_name like CONCAT('%',#{params.bo.sales_name,jdbcType=VARCHAR},'%'))
			</if>
		</where>
		ORDER BY last_receivable_period DESC,last_order_period DESC,last_visit_period DESC,last_chat_period DESC
	</select>
</mapper>