<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.FinalOrderSupplierMapper" >
  <resultMap id="BaseResultMap" type="com.xinchi.bean.FinalOrderSupplierBean" >
	    <result column="team_number" property="team_number" jdbcType="VARCHAR" />
	    <result column="supplier_employee_pk" property="supplier_employee_pk" jdbcType="CHAR" />
	    <result column="supplier_employee_name" property="supplier_employee_name" jdbcType="VARCHAR" />
	    <result column="payable" property="payable" jdbcType="DECIMAL" />
	    <result column="paid" property="paid" jdbcType="DECIMAL" />
	    <result column="supplier_debt" property="supplier_debt" jdbcType="DECIMAL" />
	    <result column="create_user" property="create_user" jdbcType="VARCHAR" />
	    <result column="update_user" property="update_user" jdbcType="VARCHAR" />
	    <result column="pk" property="pk" jdbcType="CHAR" />
	 	<result column="create_time" property="create_time" jdbcType="VARCHAR" />
 	    <result column="update_time" property="update_time" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  		
    	team_number, 
    	supplier_employee_pk, 
    	supplier_employee_name, 
    	payable, 
    	paid, 
    	supplier_debt, 
    	create_user, 
    	update_user, 
    	pk, 
    	create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from final_order_supplier
    where pk = #{pk,jdbcType=CHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from final_order_supplier
    where pk = #{pk,jdbcType=CHAR}
  </delete>
  
  <insert id="insert" parameterType="com.xinchi.bean.FinalOrderSupplierBean" >
  	
    insert into final_order_supplier
    
    <trim prefix="(" suffix=")" suffixOverrides=",">
	 	<if test="team_number != null">
	        team_number,
	      </if>
	 	<if test="supplier_employee_pk != null">
	        supplier_employee_pk,
	      </if>
	 	<if test="supplier_employee_name != null">
	        supplier_employee_name,
	      </if>
	 	<if test="payable != null">
	        payable,
	      </if>
	 	<if test="paid != null">
	        paid,
	      </if>
	 	<if test="supplier_debt != null">
	        supplier_debt,
	      </if>
	 	<if test="create_user != null">
	        create_user,
	      </if>
	 	<if test="update_user != null">
	        update_user,
	      </if>
	 	<if test="pk != null">
	        pk,
	      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="team_number != null">
	        #{team_number,jdbcType=VARCHAR},
	      </if>
    	<if test="supplier_employee_pk != null">
	        #{supplier_employee_pk,jdbcType=CHAR},
	      </if>
    	<if test="supplier_employee_name != null">
	        #{supplier_employee_name,jdbcType=VARCHAR},
	      </if>
    	<if test="payable != null">
	        #{payable,jdbcType=DECIMAL},
	      </if>
    	<if test="paid != null">
	        #{paid,jdbcType=DECIMAL},
	      </if>
    	<if test="supplier_debt != null">
	        #{supplier_debt,jdbcType=DECIMAL},
	      </if>
    	<if test="create_user != null">
	        #{create_user,jdbcType=VARCHAR},
	      </if>
    	<if test="update_user != null">
	        #{update_user,jdbcType=VARCHAR},
	      </if>
    	<if test="pk != null">
	        #{pk,jdbcType=CHAR},
	      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
       <if test="update_time != null">
        #{update_time,jdbcType=VARCHAR},
      </if>
    </trim>		
  </insert>
  

  <update id="updateByPrimaryKey" parameterType="com.xinchi.bean.FinalOrderSupplierBean" >
    update final_order_supplier
    <set >
    	<if test="team_number != null">
	        team_number = #{team_number,jdbcType=VARCHAR},
	      </if>
    	<if test="supplier_employee_pk != null">
	        supplier_employee_pk = #{supplier_employee_pk,jdbcType=CHAR},
	      </if>
    	<if test="supplier_employee_name != null">
	        supplier_employee_name = #{supplier_employee_name,jdbcType=VARCHAR},
	      </if>
    	<if test="payable != null">
	        payable = #{payable,jdbcType=DECIMAL},
	      </if>
    	<if test="paid != null">
	        paid = #{paid,jdbcType=DECIMAL},
	      </if>
    	<if test="supplier_debt != null">
	        supplier_debt = #{supplier_debt,jdbcType=DECIMAL},
	      </if>
    	<if test="create_user != null">
	        create_user = #{create_user,jdbcType=VARCHAR},
	      </if>
    	<if test="update_user != null">
	        update_user = #{update_user,jdbcType=VARCHAR},
	      </if>
    	<if test="pk != null">
	        pk = #{pk,jdbcType=CHAR},
	      </if>
      <if test="modify_time != null">
        update_time = #{update_time,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=CHAR}
  </update>
 <select id="selectByParam" parameterType="com.xinchi.bean.FinalOrderSupplierBean" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from final_order_supplier
   </select>
</mapper>