<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.FlightMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.FlightBean">
		<result column="product_pk" property="product_pk" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="adult_price" property="adult_price" jdbcType="DECIMAL" />
		<result column="child_price" property="child_price" jdbcType="DECIMAL" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="InfoResultMap" extends="BaseResultMap" type="com.xinchi.bean.FlightBean">
		<collection column="pk" property="infos" ofType="com.xinchi.bean.FlightInfoBean" select="selectFlightInfoByFlightPk">
			<result column="flight_pk" property="flight_pk" jdbcType="CHAR" />
			<result column="flight_leg" property="flight_leg" jdbcType="VACHAR" />
			<result column="flight_number" property="flight_number" jdbcType="VACHAR" />
			<result column="start_city" property="start_city" jdbcType="VACHAR" />
			<result column="end_city" property="end_city" jdbcType="VACHAR" />
			<result column="start_day" property="start_day" jdbcType="INTEGER" />
			<result column="end_day" property="end_day" jdbcType="INTEGER" />
			<result column="flight_index" property="flight_index" jdbcType="INTEGER" />
			<result column="pk" property="pk" jdbcType="CHAR" />
			<result column="create_user" property="create_user" jdbcType="VARCHAR" />
			<result column="update_user" property="update_user" jdbcType="VARCHAR" />
			<result column="create_time" property="create_time" jdbcType="VARCHAR" />
			<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		product_pk,
		name,
		number,
		adult_price,
		child_price,
		comment,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from flight
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByProductPk" resultMap="InfoResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from flight
		where product_pk = #{product_pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from flight
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<select id="selectFlightInfoByFlightPk" parameterType="java.lang.String" resultType="com.xinchi.bean.FlightInfoBean">
		select * from flight_info
		where flight_pk = #{pk,jdbcType=CHAR}
		order by flight_index
	</select>

	<insert id="insert" parameterType="com.xinchi.bean.FlightBean">

		insert into flight

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="product_pk != null">
				product_pk,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="adult_price != null">
				adult_price,
			</if>
			<if test="child_price != null">
				child_price,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="product_pk != null">
				#{product_pk,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="adult_price != null">
				#{adult_price,jdbcType=DECIMAL},
			</if>
			<if test="child_price != null">
				#{child_price,jdbcType=DECIMAL},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.FlightBean">
		update flight
		<set>
			<if test="product_pk != null">
				name = #{product_pk,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="adult_price != null">
				adult_price = #{adult_price,jdbcType=DECIMAL},
			</if>
			<if test="child_price != null">
				child_price = #{child_price,jdbcType=DECIMAL},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.FlightBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from flight
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from flight
		<where>
			<if test="params.bo.name != null and params.bo.name !=''">
				and name like concat('%', #{params.bo.name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.number != null and params.bo.number !=''">
				and number like concat('%', #{params.bo.number,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
</mapper>