<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.JobHoppingLogMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.JobHoppingLogBean">
		<result column="client_employee_pk" property="client_employee_pk" jdbcType="CHAR" />
		<result column="hop_date" property="hop_date" jdbcType="VARCHAR" />
		<result column="pre_client_pk" property="pre_client_pk" jdbcType="CHAR" />
		<result column="now_client_pk" property="now_client_pk" jdbcType="CHAR" />
		<result column="reason" property="reason" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		client_employee_pk,
		hop_date,
		pre_client_pk,
		now_client_pk,
		reason,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from job_hopping_log
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from job_hopping_log
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.JobHoppingLogBean">

		insert into job_hopping_log

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="client_employee_pk != null">
				client_employee_pk,
			</if>
			<if test="hop_date != null">
				hop_date,
			</if>
			<if test="pre_client_pk != null">
				pre_client_pk,
			</if>
			<if test="now_client_pk != null">
				now_client_pk,
			</if>
			<if test="reason != null">
				reason,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="client_employee_pk != null">
				#{client_employee_pk,jdbcType=CHAR},
			</if>
			<if test="hop_date != null">
				#{hop_date,jdbcType=VARCHAR},
			</if>
			<if test="pre_client_pk != null">
				#{pre_client_pk,jdbcType=CHAR},
			</if>
			<if test="now_client_pk != null">
				#{now_client_pk,jdbcType=CHAR},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.JobHoppingLogBean">
		update job_hopping_log
		<set>
			<if test="client_employee_pk != null">
				client_employee_pk = #{client_employee_pk,jdbcType=CHAR},
			</if>
			<if test="hop_date != null">
				hop_date = #{hop_date,jdbcType=VARCHAR},
			</if>
			<if test="pre_client_pk != null">
				pre_client_pk = #{pre_client_pk,jdbcType=CHAR},
			</if>
			<if test="now_client_pk != null">
				now_client_pk = #{now_client_pk,jdbcType=CHAR},
			</if>
			<if test="reason != null">
				reason = #{reason,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.JobHoppingLogBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from job_hopping_log
	</select>
</mapper>