<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.OrderDto">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="client_employee_pk" property="client_employee_pk" jdbcType="CHAR" />
		<result column="client_employee_name" property="client_employee_name" jdbcType="VARCHAR" />
		<result column="product_pk" property="product_pk" jdbcType="CHAR" />
		<result column="departure_date" property="departure_date" jdbcType="VARCHAR" />
		<result column="days" property="days" jdbcType="INTEGER" />
		<result column="receivable" property="receivable" jdbcType="DECIMAL" />
		<result column="adult_count" property="adult_count" jdbcType="INTEGER" />
		<result column="adult_cost" property="adult_cost" jdbcType="DECIMAL" />
		<result column="special_count" property="special_count" jdbcType="INTEGER" />
		<result column="special_cost" property="special_cost" jdbcType="DECIMAL" />
		<result column="fy" property="fy" jdbcType="DECIMAL" />
		<result column="other_cost" property="other_cost" jdbcType="DECIMAL" />
		<result column="other_cost_comment" property="other_cost_comment" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="independent_flg" property="independent_flg" jdbcType="CHAR" />
		<result column="confirm_flg" property="confirm_flg" jdbcType="CHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="product_name" property="product_name" jdbcType="VARCHAR" />
		<result column="client_employee_name" property="client_employee_name" jdbcType="VARCHAR" />
		<result column="create_user_number" property="create_user_number" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="standard_flg" property="standard_flg" jdbcType="VARCHAR" />
		<result column="confirm_date" property="confirm_date" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="back_days" property="back_days" jdbcType="INTEGER" />
		<result column="people_count" property="people_count" jdbcType="INTEGER" />
		<result column="product_manager_number" property="product_manager_number" jdbcType="VARCHAR" />
		<result column="product_manager" property="product_manager" jdbcType="VARCHAR" />
		<result column="confirm_file" property="confirm_file" jdbcType="VARCHAR" />
		<result column="passenger" property="passenger" jdbcType="VARCHAR" />
		<result column="air_ticket_cost" property="air_ticket_cost" jdbcType="DECIMAL" />
		<result column="product_cost" property="product_cost" jdbcType="DECIMAL" />
		<result column="balance" property="balance" jdbcType="DECIMAL" />
		<result column="passenger_captain" property="passenger_captain" jdbcType="VARCHAR" />
		<result column="treat_comment" property="treat_comment" jdbcType="VARCHAR" />
		<result column="receivable_comment" property="receivable_comment" jdbcType="VARCHAR" />
		<result column="client_name" property="client_name" jdbcType="VARCHAR" />
		<result column="ticket_number" property="ticket_number" jdbcType="VARCHAR" />
		<result column="start_city" property="start_city" jdbcType="VARCHAR" />
		<result column="start_airport" property="start_airport" jdbcType="VARCHAR" />
		<result column="end_city" property="end_city" jdbcType="VARCHAR" />
		<result column="end_airport" property="end_airport" jdbcType="VARCHAR" />
		<result column="off_time" property="off_time" jdbcType="VARCHAR" />
		<result column="land_time" property="land_time" jdbcType="VARCHAR" />
		<result column="next_day" property="next_day" jdbcType="INTEGER" />
		<result column="sale_number" property="sale_number" jdbcType="VARCHAR" />
		<result column="sale_name" property="sale_name" jdbcType="VARCHAR" />
		<result column="final_type" property="final_type" jdbcType="CHAR" />
		<result column="raise_money" property="raise_money" jdbcType="DECIMAL" />
		<result column="raise_comment" property="raise_comment" jdbcType="VARCHAR" />
		<result column="reduce_money" property="reduce_money" jdbcType="DECIMAL" />
		<result column="reduce_comment" property="reduce_comment" jdbcType="VARCHAR" />
		<result column="complain_money" property="complain_money" jdbcType="DECIMAL" />
		<result column="complain_reason" property="complain_reason" jdbcType="VARCHAR" />
		<result column="complain_solution" property="complain_solution" jdbcType="VARCHAR" />
		<result column="voucher_file" property="voucher_file" jdbcType="VARCHAR" />
		<result column="budget_receivable" property="budget_receivable" jdbcType="DECIMAL" />
		<result column="final_receivable" property="final_receivable" jdbcType="DECIMAL" />
		<result column="product_value" property="product_value" jdbcType="DECIMAL" />
	</resultMap>
	<resultMap id="SaleScoreMap" type="com.xinchi.bean.SaleScoreDto">
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="sale_number" property="sale_number" jdbcType="VARCHAR" />
		<result column="sale_name" property="sale_name" jdbcType="VARCHAR" />
		<result column="sum_people" property="sum_people" jdbcType="INTEGER" />
		<result column="confirm_month" property="confirm_month" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectByTeamNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from budget_order_view
		where
		team_number =
		#{team_number,jdbcType=VARCHAR}
	</select>
	<select id="searchCOrderByPk" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from budget_order_view
		where
		pk =
		#{order_pk,jdbcType=CHAR}
	</select>
	
	<select id="searchSaleScore" parameterType="com.xinchi.tools.Page" resultMap="SaleScoreMap">
		SELECT sum((IFNULL(A.adult_count,0)+IFNULL(A.special_count,0))*A.product_value) AS score,
		LEFT(A.confirm_date,7) as confirm_month,
		A.create_user AS sale_number,
		B.user_name AS sale_name, 
		SUM(IFNULL(adult_count,0)+IFNULL(special_count,0)) AS sum_people 
		FROM budget_standard_order A
			LEFT JOIN user_base B on A.create_user = B.user_number
			<where>
				<if test="params.bo.confirm_month != null and params.bo.confirm_month !=''">
					and LEFT(A.confirm_date,7)= #{params.bo.confirm_month,jdbcType=VARCHAR}
				</if>
				and A.confirm_flg !='N'
			</where>
			GROUP by LEFT(confirm_date,7),create_user 
			ORDER by score DESC
	</select>
	
	<select id="selectTbcByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select * from budget_order_view
		<where>
			<if test="params.bo.create_user != null and params.bo.create_user !=''">
				and create_user_number= #{params.bo.create_user,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.client_employee_name != null and params.bo.client_employee_name !=''">
				and client_employee_name like CONCAT('%',#{params.bo.client_employee_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_name != null and params.bo.product_name !=''">
				and product_name like CONCAT('%',#{params.bo.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.departure_date_from != null and params.bo.departure_date_from !=''">
				and departure_date >=#{params.bo.departure_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.departure_date_to != null and params.bo.departure_date_to !=''">
				and departure_date &lt;=#{params.bo.departure_date_to,jdbcType=VARCHAR}
			</if>
			and confirm_flg='N'
		</where>
		ORDER BY departure_date DESC
	</select>

	<select id="selectTbcByParam" parameterType="com.xinchi.bean.OrderDto" resultMap="BaseResultMap">
		select * from budget_order_view
		<where>
			and confirm_flg='N'
		</where>
	</select>

	<select id="selectCByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.team_number,
		A.product_name,
		A.product_pk,
		A.client_employee_pk,
		A.client_employee_name,
		A.independent_flg,
		A.comment,
		A.other_cost_comment,
		A.other_cost,
		A.fy,
		A.special_cost,
		A.special_count,
		A.adult_cost,
		A.adult_count,
		A.receivable,
		A.days,
		A.departure_date,
		A.pk,
		A.update_user,
		A.create_user_number,
		A.create_user,
		A.confirm_flg,
		A.create_time,
		A.update_time,
		A.confirm_date,
		A.confirm_file,
		A.standard_flg,
		A.air_ticket_cost,
		A.product_cost,
		IF(ISNULL(A.adult_count),0,A.adult_count)+
		IF(ISNULL(A.special_count),0,A.special_count) AS people_count,
		A.status,
		TIMESTAMPDIFF(day,A.departure_date,now())-days+2 AS back_days,
		A.product_manager_number,
		A.product_manager,
		A.passenger_captain,
		A.treat_comment,
		A.receivable_comment,
		B.budget_balance AS balance,
		A.product_value
		from budget_order_view A LEFT JOIN
		receivable B ON A.team_number = B.team_number
		<where>
			<if test="params.bo.create_user != null and params.bo.create_user !=''">
				and A.create_user_number= #{params.bo.create_user,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.client_employee_name != null and params.bo.client_employee_name !=''">
				and A.client_employee_name like CONCAT('%',#{params.bo.client_employee_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.team_number != null and params.bo.team_number !=''">
				and A.team_number like CONCAT('%',#{params.bo.team_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_name != null and params.bo.product_name !=''">
				and A.product_name like CONCAT('%',#{params.bo.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_manager != null and params.bo.product_manager !=''">
				and A.product_manager like CONCAT('%',#{params.bo.product_manager,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.departure_date_from != null and params.bo.departure_date_from !=''">
				and A.departure_date >=#{params.bo.departure_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.departure_date_to != null and params.bo.departure_date_to !=''">
				and A.departure_date &lt;=#{params.bo.departure_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_from != null and params.bo.confirm_date_from !=''">
				and A.confirm_date >=#{params.bo.confirm_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_to != null and params.bo.confirm_date_to !=''">
				and A.confirm_date &lt;=#{params.bo.confirm_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.order_statuses != null">
				and A.status in
				<foreach item="item" index="index" collection="params.bo.order_statuses" open="(" separator="," close=")">
					#{params.bo.order_statuses[${index}]}
				</foreach>
			</if>
			and confirm_flg='Y'
		</where>
		 ORDER BY 
		 IF(TIMESTAMPDIFF(DAY,A.departure_date,DATE_FORMAT(NOW(), '%Y-%m-%d')) in (-1,-2,-3),A.departure_date,'2999-01-01'),
		 IF(A.departure_date&lt;=DATE_FORMAT(NOW(), '%Y-%m-%d') and date_add(A.departure_date,INTERVAL A.days-1 DAY)> DATE_FORMAT(NOW(), '%Y-%m-%d'),TIMESTAMPDIFF(day,A.departure_date,now())-days,-99999) DESC,
		 IF(date_add(A.departure_date,INTERVAL A.days-1 DAY) &lt;=DATE_FORMAT(NOW(), '%Y-%m-%d'),TIMESTAMPDIFF(DAY,A.departure_date,DATE_FORMAT(NOW(), '%Y-%m-%d')) - days + 2,0) DESC,
         A.departure_date

	</select>
	<select id="selectFByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select * from final_order_view A
		<where>
			<if test="params.bo.sale_number != null and params.bo.sale_number !=''">
				and A.sale_number= #{params.bo.sale_number,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.client_employee_name != null and params.bo.client_employee_name !=''">
				and A.client_employee_name like CONCAT('%',#{params.bo.client_employee_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.team_number != null and params.bo.team_number !=''">
				and A.team_number like CONCAT('%',#{params.bo.team_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_name != null and params.bo.product_name !=''">
				and A.product_name like CONCAT('%',#{params.bo.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.departure_date_from != null and params.bo.departure_date_from !=''">
				and A.departure_date >=#{params.bo.departure_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.departure_date_to != null and params.bo.departure_date_to !=''">
				and A.departure_date &lt;=#{params.bo.departure_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_from != null and params.bo.confirm_date_from !=''">
				and A.confirm_date >=#{params.bo.confirm_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_to != null and params.bo.confirm_date_to !=''">
				and A.confirm_date &lt;=#{params.bo.confirm_date_to,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY A.departure_date DESC
	</select>
</mapper>