<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.PagesRoleBeanMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.PagesRoleBean">
		<result column="role" property="role" jdbcType="VARCHAR" />
		<result column="page_pk" property="page_pk" jdbcType="CHAR" />
		<result column="page_url" property="page_url" jdbcType="VARCHAR" />
		<result column="is_father" property="is_father" jdbcType="CHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		role,
		page_pk,
		page_url,
		is_father,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from pages_role
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from pages_role
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.PagesRoleBean">

		insert into pages_role

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="role != null">
				role,
			</if>
			<if test="page_pk != null">
				page_pk,
			</if>
			<if test="page_url != null">
				page_url,
			</if>
			<if test="is_father != null">
				is_father,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="role != null">
				#{role,jdbcType=VARCHAR},
			</if>
			<if test="page_pk != null">
				#{page_pk,jdbcType=CHAR},
			</if>
			<if test="page_url != null">
				#{page_url,jdbcType=VARCHAR},
			</if>
			<if test="is_father != null">
				#{is_father,jdbcType=CHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.PagesRoleBean">
		update pages_role
		<set>
			<if test="role != null">
				role = #{role,jdbcType=VARCHAR},
			</if>
			<if test="page_pk != null">
				page_pk = #{page_pk,jdbcType=CHAR},
			</if>
			<if test="page_url != null">
				page_url = #{page_url,jdbcType=VARCHAR},
			</if>
			<if test="is_father != null">
				is_father = #{is_father,jdbcType=CHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.PagesRoleBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pages_role
	</select>
</mapper>