<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.PagesBeanMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.PagesBean">
		<result column="page_url" property="page_url" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="father_pk" property="father_pk" jdbcType="CHAR" />
		<result column="order_index" property="order_index" jdbcType="INTEGER" />
		<result column="page_title" property="page_title" jdbcType="VARCHAR" />
		<result column="page_class" property="page_class" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		page_url,
		level,
		father_pk,
		order_index,
		page_title,
		page_class,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from pages
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from pages
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.PagesBean">

		insert into pages

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="page_url != null">
				page_url,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="father_pk != null">
				father_pk,
			</if>
			<if test="order_index != null">
				order_index,
			</if>
			<if test="page_title != null">
				page_title,
			</if>
			<if test="page_class != null">
				page_class,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="page_url != null">
				#{page_url,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="father_pk != null">
				#{father_pk,jdbcType=CHAR},
			</if>
			<if test="order_index != null">
				#{order_index,jdbcType=INTEGER},
			</if>
			<if test="page_title != null">
				#{page_title,jdbcType=VARCHAR},
			</if>
			<if test="page_class != null">
				#{page_class,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.PagesBean">
		update pages
		<set>
			<if test="page_url != null">
				page_url = #{page_url,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="father_pk != null">
				father_pk = #{father_pk,jdbcType=CHAR},
			</if>
			<if test="order_index != null">
				order_index = #{order_index,jdbcType=INTEGER},
			</if>
			<if test="page_title != null">
				page_title = #{page_title,jdbcType=VARCHAR},
			</if>
			<if test="page_class != null">
				page_class = #{page_class,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.PagesBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pages
	</select>
</mapper>