<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.PayableOrderMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.PayableOrderBean">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="supplier_employee_pk" property="supplier_employee_pk" jdbcType="CHAR" />
		<result column="final_flg" property="final_flg" jdbcType="CHAR" />
		<result column="budget_payable" property="budget_payable" jdbcType="DECIMAL" />
		<result column="final_payable" property="final_payable" jdbcType="DECIMAL" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		team_number,
		supplier_employee_pk,
		final_flg,
		budget_payable,
		final_payable,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from payable_order
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from payable_order
		where pk = #{pk,jdbcType=CHAR}
	</delete>
	<delete id="deleteTeamNumber" parameterType="java.lang.String">
		delete from payable_order
		where team_number = #{team_number,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.PayableOrderBean">

		insert into payable_order

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				team_number,
			</if>
			<if test="supplier_employee_pk != null">
				supplier_employee_pk,
			</if>
			<if test="final_flg != null">
				final_flg,
			</if>
			<if test="budget_payable != null">
				budget_payable,
			</if>
			<if test="final_payable != null">
				final_payable,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				#{team_number,jdbcType=VARCHAR},
			</if>
			<if test="supplier_employee_pk != null">
				#{supplier_employee_pk,jdbcType=CHAR},
			</if>
			<if test="final_flg != null">
				#{final_flg,jdbcType=CHAR},
			</if>
			<if test="budget_payable != null">
				#{budget_payable,jdbcType=DECIMAL},
			</if>
			<if test="final_payable != null">
				#{final_payable,jdbcType=DECIMAL},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.PayableOrderBean">
		update payable_order
		<set>
			<if test="team_number != null">
				team_number = #{team_number,jdbcType=VARCHAR},
			</if>
			<if test="supplier_employee_pk != null">
				supplier_employee_pk = #{supplier_employee_pk,jdbcType=CHAR},
			</if>
			<if test="final_flg != null">
				final_flg = #{final_flg,jdbcType=CHAR},
			</if>
			<if test="budget_payable != null">
				budget_payable = #{budget_payable,jdbcType=DECIMAL},
			</if>
			<if test="final_payable != null">
				final_payable = #{final_payable,jdbcType=DECIMAL},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.PayableOrderBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from payable_order
	</select>
</mapper>