<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ProductAccountingFirmMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ProductAccountingFirmBean">
		<result column="belong_month" property="belong_month" jdbcType="VARCHAR" />
		<result column="product_manager_number" property="product_manager_number" jdbcType="VARCHAR" />
		<result column="confirm_user" property="confirm_user" jdbcType="VARCHAR" />
		<result column="confirm_time" property="confirm_time" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		belong_month,
		product_manager_number,
		confirm_user,
		confirm_time,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product_accounting_firm
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from product_accounting_firm
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.ProductAccountingFirmBean">

		insert into product_accounting_firm

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="belong_month != null">
				belong_month,
			</if>
			<if test="product_manager_number != null">
				product_manager_number,
			</if>
			<if test="confirm_user != null">
				confirm_user,
			</if>
			<if test="confirm_time != null">
				confirm_time,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="belong_month != null">
				#{belong_month,jdbcType=VARCHAR},
			</if>
			<if test="product_manager_number != null">
				#{product_manager_number,jdbcType=VARCHAR},
			</if>
			<if test="confirm_user != null">
				#{confirm_user,jdbcType=VARCHAR},
			</if>
			<if test="confirm_time != null">
				#{confirm_time,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ProductAccountingFirmBean">
		update product_accounting_firm
		<set>
			<if test="belong_month != null">
				belong_month = #{belong_month,jdbcType=VARCHAR},
			</if>
			<if test="product_manager_number != null">
				product_manager_number = #{product_manager_number,jdbcType=VARCHAR},
			</if>
			<if test="confirm_user != null">
				confirm_user = #{confirm_user,jdbcType=VARCHAR},
			</if>
			<if test="confirm_time != null">
				confirm_time = #{confirm_time,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ProductAccountingFirmBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from product_accounting_firm
	</select>
</mapper>