<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ProductMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ProductBean">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="product_number" property="product_number" jdbcType="VARCHAR" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="days" property="days" jdbcType="INTEGER" />
		<result column="max_profit_substract" property="max_profit_substract" jdbcType="DECIMAL" />
		<result column="business_price" property="business_price" jdbcType="DECIMAL" />
		<result column="product_manager" property="product_manager" jdbcType="VARCHAR" />
		<result column="sale_flg" property="sale_flg" jdbcType="CHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="air_ticket_charge" property="air_ticket_charge" jdbcType="VARCHAR" />
		<result column="product_value" property="product_value" jdbcType="DECIMAL" />
		<result column="air_ticket_cost" property="air_ticket_cost" jdbcType="DECIMAL" />
		<result column="other_cost" property="other_cost" jdbcType="DECIMAL" />
		<result column="gross_profit" property="gross_profit" jdbcType="DECIMAL" />
		<result column="gross_profit_rate" property="gross_profit_rate" jdbcType="FLOAT" />
		<result column="product_model" property="product_model" jdbcType="VARCHAR" />
		<result column="adult_price" property="adult_price" jdbcType="DECIMAL" />
		<result column="child_price" property="child_price" jdbcType="DECIMAL" />
		<result column="business_profit_substract" property="business_profit_substract" jdbcType="DECIMAL" />
		<result column="air_ticket_child_cost" property="air_ticket_child_cost" jdbcType="DECIMAL" />
		<result column="local_adult_cost" property="local_adult_cost" jdbcType="DECIMAL" />
		<result column="local_child_cost" property="local_child_cost" jdbcType="DECIMAL" />
		<result column="other_child_cost" property="other_child_cost" jdbcType="DECIMAL" />
		<result column="product_child_value" property="product_child_value" jdbcType="DECIMAL" />
		<result column="cash_flow" property="cash_flow" jdbcType="DECIMAL" />
		<result column="spot_cash" property="spot_cash" jdbcType="DECIMAL" />
		<result column="first_air_start" property="first_air_start" jdbcType="VARCHAR" />
		<result column="first_air_end" property="first_air_end" jdbcType="VARCHAR" />
		<result column="sale_attention" property="sale_attention" jdbcType="VARCHAR" />
		<result column="sale_strategy" property="sale_strategy" jdbcType="VARCHAR" />
		<result column="strict_price_flg" property="strict_price_flg" jdbcType="CHAR" />
		<result column="cash_flow_air_flg" property="cash_flow_air_flg" jdbcType="CHAR" />
		<result column="cash_flow_local_flg" property="cash_flow_local_flg" jdbcType="CHAR" />
		<result column="cash_flow_other_flg" property="cash_flow_other_flg" jdbcType="CHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="off_shelves_date" property="off_shelves_date" jdbcType="VARCHAR" />
		<result column="gross_child_profit" property="gross_child_profit" jdbcType="DECIMAL" />
		<result column="gross_child_profit_rate" property="gross_child_profit_rate" jdbcType="FLOAT" />
		<result column="cash_child_flow" property="cash_child_flow" jdbcType="DECIMAL" />
		<result column="spot_child_cash" property="spot_child_cash" jdbcType="DECIMAL" />
		<result column="client_confirm_templet" property="client_confirm_templet" jdbcType="VARCHAR" />
		<result column="out_notice_templet" property="out_notice_templet" jdbcType="VARCHAR" />
		<result column="air_ticket_upkeep_flg" property="air_ticket_upkeep_flg" jdbcType="VARCHAR" />
		<result column="supplier_upkeep_flg" property="supplier_upkeep_flg" jdbcType="VARCHAR" />
		<result column="local_upkeep_flg" property="local_upkeep_flg" jdbcType="VARCHAR" />
		<result column="keep_flg" property="keep_flg" jdbcType="CHAR" />
		<result column="analysis_flg" property="analysis_flg" jdbcType="CHAR" />
		<result column="as_adult_flg" property="as_adult_flg" jdbcType="CHAR" />
		<result column="id_type" property="id_type" jdbcType="CHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		name,
		product_number,
		location,
		days,
		max_profit_substract,
		business_price,
		product_manager,
		sale_flg,
		comment,
		pk,
		create_user,
		update_user,
		air_ticket_charge,
		product_value,
		air_ticket_cost,
		other_cost,
		gross_profit,
		gross_profit_rate,
		product_model,
		adult_price,
		child_price,
		business_profit_substract,
		air_ticket_child_cost,
		local_adult_cost,
		local_child_cost,
		other_child_cost,
		product_child_value,
		cash_flow,
		spot_cash,
		first_air_start,
		first_air_end,
		sale_attention,
		sale_strategy,
		strict_price_flg,
		cash_flow_air_flg,
		cash_flow_local_flg,
		cash_flow_other_flg,
		create_time,
		update_time,
		off_shelves_date,
		gross_child_profit,
		cash_child_flow,
		spot_child_cash,
		gross_child_profit_rate,
		client_confirm_templet,
		out_notice_templet,
		air_ticket_upkeep_flg,
		supplier_upkeep_flg,
		local_upkeep_flg,
		keep_flg,
		analysis_flg,
		as_adult_flg,
		id_type

	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from product
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.ProductBean">

		insert into product

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="product_number != null">
				product_number,
			</if>
			<if test="location != null">
				location,
			</if>
			<if test="days != null">
				days,
			</if>
			<if test="max_profit_substract != null">
				max_profit_substract,
			</if>
			<if test="business_price != null">
				business_price,
			</if>
			<if test="product_manager != null">
				product_manager,
			</if>
			<if test="sale_flg != null">
				sale_flg,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="air_ticket_charge != null">
				air_ticket_charge,
			</if>
			<if test="product_value != null">
				product_value,
			</if>
			<if test="air_ticket_cost != null">
				air_ticket_cost,
			</if>
			<if test="other_cost != null">
				other_cost,
			</if>
			<if test="gross_profit != null">
				gross_profit,
			</if>
			<if test="gross_profit_rate != null">
				gross_profit_rate,
			</if>
			<if test="product_model != null">
				product_model,
			</if>
			<if test="adult_price != null">
				adult_price,
			</if>
			<if test="child_price != null">
				child_price,
			</if>
			<if test="business_profit_substract != null">
				business_profit_substract,
			</if>
			<if test="air_ticket_child_cost != null">
				air_ticket_child_cost,
			</if>
			<if test="local_adult_cost != null">
				local_adult_cost,
			</if>
			<if test="local_child_cost != null">
				local_child_cost,
			</if>
			<if test="other_child_cost != null">
				other_child_cost,
			</if>
			<if test="product_child_value != null">
				product_child_value,
			</if>
			<if test="cash_flow != null">
				cash_flow,
			</if>
			<if test="spot_cash != null">
				spot_cash,
			</if>
			<if test="first_air_start != null">
				first_air_start,
			</if>
			<if test="first_air_end != null">
				first_air_end,
			</if>
			<if test="sale_attention != null">
				sale_attention,
			</if>
			<if test="sale_strategy != null">
				sale_strategy,
			</if>
			<if test="strict_price_flg != null">
				strict_price_flg,
			</if>
			<if test="cash_flow_air_flg != null">
				cash_flow_air_flg,
			</if>
			<if test="cash_flow_local_flg != null">
				cash_flow_local_flg,
			</if>
			<if test="cash_flow_other_flg != null">
				cash_flow_other_flg,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="off_shelves_date != null">
				off_shelves_date,
			</if>
			<if test="gross_child_profit != null">
				gross_child_profit,
			</if>
			<if test="cash_child_flow != null">
				cash_child_flow,
			</if>
			<if test="spot_child_cash != null">
				spot_child_cash,
			</if>
			<if test="gross_child_profit_rate != null">
				gross_child_profit_rate,
			</if>
			<if test="as_adult_flg != null">
				as_adult_flg,
			</if>
			<if test="id_type != null">
				id_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="product_number != null">
				#{product_number,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="days != null">
				#{days,jdbcType=INTEGER},
			</if>
			<if test="max_profit_substract != null">
				#{max_profit_substract,jdbcType=DECIMAL},
			</if>
			<if test="business_price != null">
				#{business_price,jdbcType=DECIMAL},
			</if>
			<if test="product_manager != null">
				#{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="sale_flg != null">
				#{sale_flg,jdbcType=CHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="air_ticket_charge != null">
				#{air_ticket_charge,jdbcType=VARCHAR},
			</if>
			<if test="product_value != null">
				#{product_value,jdbcType=DECIMAL},
			</if>
			<if test="air_ticket_cost != null">
				#{air_ticket_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_cost != null">
				#{other_cost,jdbcType=DECIMAL},
			</if>
			<if test="gross_profit != null">
				#{gross_profit,jdbcType=DECIMAL},
			</if>
			<if test="gross_profit_rate != null">
				#{gross_profit_rate,jdbcType=FLOAT},
			</if>
			<if test="product_model != null">
				#{product_model,jdbcType=VARCHAR},
			</if>
			<if test="adult_price != null">
				#{adult_price,jdbcType=DECIMAL},
			</if>
			<if test="child_price != null">
				#{child_price,jdbcType=DECIMAL},
			</if>
			<if test="business_profit_substract != null">
				#{business_profit_substract,jdbcType=DECIMAL},
			</if>
			<if test="air_ticket_child_cost != null">
				#{air_ticket_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="local_adult_cost != null">
				#{local_adult_cost,jdbcType=DECIMAL},
			</if>
			<if test="local_child_cost != null">
				#{local_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_child_cost != null">
				#{other_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="product_child_value != null">
				#{product_child_value,jdbcType=DECIMAL},
			</if>
			<if test="cash_flow != null">
				#{cash_flow,jdbcType=DECIMAL},
			</if>
			<if test="spot_cash != null">
				#{spot_cash,jdbcType=DECIMAL},
			</if>
			<if test="first_air_start != null">
				#{first_air_start,jdbcType=VARCHAR},
			</if>
			<if test="first_air_end != null">
				#{first_air_end,jdbcType=VARCHAR},
			</if>
			<if test="sale_attention != null">
				#{sale_attention,jdbcType=VARCHAR},
			</if>
			<if test="sale_strategy != null">
				#{sale_strategy,jdbcType=VARCHAR},
			</if>
			<if test="strict_price_flg != null">
				#{strict_price_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_air_flg != null">
				#{cash_flow_air_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_local_flg != null">
				#{cash_flow_local_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_other_flg != null">
				#{cash_flow_other_flg,jdbcType=CHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="off_shelves_date != null">
				#{off_shelves_date,jdbcType=VARCHAR},
			</if>
			<if test="gross_child_profit != null">
				#{gross_child_profit,jdbcType=DECIMAL},
			</if>
			<if test="cash_child_flow != null">
				#{cash_child_flow,jdbcType=DECIMAL},
			</if>
			<if test="spot_child_cash != null">
				#{spot_child_cash,jdbcType=DECIMAL},
			</if>
			<if test="gross_child_profit_rate != null">
				#{gross_child_profit_rate,jdbcType=FLOAT},
			</if>
			<if test="as_adult_flg != null">
				#{as_adult_flg,jdbcType=CHAR},
			</if>
			<if test="id_type != null">
				#{id_type,jdbcType=CHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ProductBean">
		update product
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="product_number != null">
				product_number = #{product_number,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="days != null">
				days = #{days,jdbcType=INTEGER},
			</if>
			<if test="max_profit_substract != null">
				max_profit_substract = #{max_profit_substract,jdbcType=DECIMAL},
			</if>
			<if test="business_price != null">
				business_price = #{business_price,jdbcType=DECIMAL},
			</if>
			<if test="product_manager != null">
				product_manager = #{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="sale_flg != null">
				sale_flg = #{sale_flg,jdbcType=CHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="air_ticket_charge != null">
				air_ticket_charge = #{air_ticket_charge,jdbcType=VARCHAR},
			</if>
			<if test="product_value != null">
				product_value = #{product_value,jdbcType=DECIMAL},
			</if>
			<if test="air_ticket_cost != null">
				air_ticket_cost = #{air_ticket_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_cost != null">
				other_cost = #{other_cost,jdbcType=DECIMAL},
			</if>
			<if test="gross_profit != null">
				gross_profit = #{gross_profit,jdbcType=DECIMAL},
			</if>
			<if test="gross_profit_rate != null">
				gross_profit_rate = #{gross_profit_rate,jdbcType=FLOAT},
			</if>
			<if test="product_model != null">
				product_model = #{product_model,jdbcType=VARCHAR},
			</if>
			<if test="adult_price != null">
				adult_price = #{adult_price,jdbcType=DECIMAL},
			</if>
			<if test="child_price != null">
				child_price = #{child_price,jdbcType=DECIMAL},
			</if>
			<if test="business_profit_substract != null">
				business_profit_substract = #{business_profit_substract,jdbcType=DECIMAL},
			</if>
			<if test="air_ticket_child_cost != null">
				air_ticket_child_cost = #{air_ticket_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="local_adult_cost != null">
				local_adult_cost = #{local_adult_cost,jdbcType=DECIMAL},
			</if>
			<if test="local_child_cost != null">
				local_child_cost = #{local_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_child_cost != null">
				other_child_cost = #{other_child_cost,jdbcType=DECIMAL},
			</if>
			<if test="product_child_value != null">
				product_child_value = #{product_child_value,jdbcType=DECIMAL},
			</if>
			<if test="cash_flow != null">
				cash_flow = #{cash_flow,jdbcType=DECIMAL},
			</if>
			<if test="spot_cash != null">
				spot_cash = #{spot_cash,jdbcType=DECIMAL},
			</if>
			<if test="first_air_start != null">
				first_air_start = #{first_air_start,jdbcType=VARCHAR},
			</if>
			<if test="first_air_end != null">
				first_air_end = #{first_air_end,jdbcType=VARCHAR},
			</if>
			<if test="sale_attention != null">
				sale_attention = #{sale_attention,jdbcType=VARCHAR},
			</if>
			<if test="sale_strategy != null">
				sale_strategy = #{sale_strategy,jdbcType=VARCHAR},
			</if>
			<if test="strict_price_flg != null">
				strict_price_flg = #{strict_price_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_air_flg != null">
				cash_flow_air_flg = #{cash_flow_air_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_local_flg != null">
				cash_flow_local_flg = #{cash_flow_local_flg,jdbcType=CHAR},
			</if>
			<if test="cash_flow_other_flg != null">
				cash_flow_other_flg = #{cash_flow_other_flg,jdbcType=CHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="off_shelves_date != null">
				off_shelves_date = #{off_shelves_date,jdbcType=VARCHAR},
			</if>
			<if test="gross_child_profit != null">
				gross_child_profit = #{gross_child_profit,jdbcType=DECIMAL},
			</if>
			<if test="cash_child_flow != null">
				cash_child_flow = #{cash_child_flow,jdbcType=DECIMAL},
			</if>
			<if test="spot_child_cash != null">
				spot_child_cash = #{spot_child_cash,jdbcType=DECIMAL},
			</if>
			<if test="gross_child_profit_rate != null">
				gross_child_profit_rate = #{gross_child_profit_rate,jdbcType=FLOAT},
			</if>
			<if test="client_confirm_templet != null">
				client_confirm_templet = #{client_confirm_templet,jdbcType=VARCHAR},
			</if>
			<if test="out_notice_templet != null">
				out_notice_templet = #{out_notice_templet,jdbcType=VARCHAR},
			</if>
			<if test="air_ticket_upkeep_flg != null">
				air_ticket_upkeep_flg = #{air_ticket_upkeep_flg,jdbcType=VARCHAR},
			</if>
			<if test="supplier_upkeep_flg != null">
				supplier_upkeep_flg = #{supplier_upkeep_flg,jdbcType=VARCHAR},
			</if>
			<if test="local_upkeep_flg != null">
				local_upkeep_flg = #{local_upkeep_flg,jdbcType=VARCHAR},
			</if>
			<if test="keep_flg != null">
				keep_flg = #{keep_flg,jdbcType=VARCHAR},
			</if>
			<if test="analysis_flg != null">
				analysis_flg = #{analysis_flg,jdbcType=VARCHAR},
			</if>
			<if test="as_adult_flg != null">
				as_adult_flg = #{as_adult_flg,jdbcType=CHAR},
			</if>
			<if test="id_type != null">
				id_type = #{id_type,jdbcType=CHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ProductBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from product
		<where>
			<if test="name !=null and name !='' ">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="product_model !=null and product_model !='' ">
				and product_model = #{product_model,jdbcType=VARCHAR}
			</if>
			<if test="create_user !=null and create_user !='' ">
				and create_user = #{create_user,jdbcType=VARCHAR}
			</if>
			<if test="location !=null and location !='' ">
				and location = #{location,jdbcType=VARCHAR}
			</if>
			<if test="keep_flg !=null and keep_flg !='' ">
				and keep_flg = #{keep_flg,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPks" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from product
		where pk in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.name,
		A.product_number,
		A.location,
		A.days,
		A.max_profit_substract,
		A.business_price,
		B.user_name AS
		product_manager,
		A.sale_flg,
		A.comment,
		A.pk,
		A.create_user,
		A.update_user,
		A.air_ticket_charge,
		A.product_value,
		A.air_ticket_cost,
		A.other_cost,
		A.gross_profit,
		A.gross_profit_rate,
		A.product_model,
		A.adult_price,
		A.child_price,
		A.business_profit_substract,
		A.air_ticket_child_cost,
		A.local_adult_cost,
		A.local_child_cost,
		A.other_child_cost,
		A.product_child_value,
		A.cash_flow,
		A.spot_cash,
		A.first_air_start,
		A.first_air_end,
		A.sale_attention,
		A.sale_strategy,
		A.strict_price_flg,
		A.cash_flow_air_flg,
		A.cash_flow_local_flg,
		A.cash_flow_other_flg,
		A.create_time,
		A.update_time,
		A.off_shelves_date,
		A.gross_child_profit,
		A.cash_child_flow,
		A.spot_child_cash,
		A.gross_child_profit_rate,
		A.client_confirm_templet,
		A.out_notice_templet,
		A.air_ticket_upkeep_flg,
		A.supplier_upkeep_flg,
		A.local_upkeep_flg,
		A.keep_flg,
		A.analysis_flg,
		A.as_adult_flg,
		A.id_type
		from
		product A
		LEFT JOIN user_base B on A.product_manager=B.user_number
		<where>
			<if test="params.bo.product_manager != null and params.bo.product_manager !=''">
				and A.product_manager = #{params.bo.product_manager,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.product_number != null and params.bo.product_number !=''">
				and A.product_number like concat('%', #{params.bo.product_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_model != null and params.bo.product_model !=''">
				and A.product_model like concat('%', #{params.bo.product_model,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.name != null and params.bo.name !=''">
				and A.name like concat('%', #{params.bo.name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.location != null and params.bo.location !=''">
				and A.location = #{params.bo.location,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.locations != null and params.bo.locations !=''">
				and A.location in
				<foreach item="item" index="index" collection="params.bo.locations" open="(" separator="," close=")">
					#{params.bo.locations[${index}]}
				</foreach>
			</if>
			<if test="params.bo.statuses != null and params.bo.statuses !=''">
				and A.sale_flg in
				<foreach item="item" index="index" collection="params.bo.statuses" open="(" separator="," close=")">
					#{params.bo.statuses[${index}]}
				</foreach>
			</if>
			<if test="params.bo.sale_flg != null and params.bo.sale_flg !=''">
				and A.sale_flg = #{params.bo.sale_flg,jdbcType=VARCHAR}
			</if>
			<if test='params.bo.high_value_flg != null and params.bo.high_value_flg =="yes"'>
				and A.product_value >= 9
			</if>
		</where>

		order by A.product_value DESC,A.name,A.product_model
	</select>
</mapper>