<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ProductOrderNameAirNeedMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ProductOrderNameAirNeedBean">
		<result column="need_pk" property="need_pk" jdbcType="CHAR" />
		<result column="name_pk" property="name_pk" jdbcType="CHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		need_pk,
		name_pk,
		update_user,
		create_user,
		pk,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product_order_name_air_need
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByNamePk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product_order_name_air_need
		where name_pk = #{name_pk,jdbcType=CHAR}
	</select>
	<select id="selectByNamePks" resultMap="BaseResultMap" parameterType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from product_order_name_air_need
		where name_pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from product_order_name_air_need
		where pk =
		#{pk,jdbcType=CHAR}
	</delete>
	<delete id="deleteByNeedPk" parameterType="java.lang.String">
		delete from product_order_name_air_need
		where need_pk =
		#{need_pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.ProductOrderNameAirNeedBean">

		insert into product_order_name_air_need

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="need_pk != null">
				need_pk,
			</if>
			<if test="name_pk != null">
				name_pk,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="need_pk != null">
				#{need_pk,jdbcType=CHAR},
			</if>
			<if test="name_pk != null">
				#{name_pk,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ProductOrderNameAirNeedBean">
		update product_order_name_air_need
		<set>
			<if test="need_pk != null">
				need_pk = #{need_pk,jdbcType=CHAR},
			</if>
			<if test="name_pk != null">
				name_pk = #{name_pk,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ProductOrderNameAirNeedBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from product_order_name_air_need
	</select>
</mapper>