<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.SaleOrderMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.SaleOrderBean">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="client_employee_pk" property="client_employee_pk" jdbcType="CHAR" />
		<result column="product_pk" property="product_pk" jdbcType="CHAR" />
		<result column="product_name" property="product_name" jdbcType="VARCHAR" />
		<result column="departure_date" property="departure_date" jdbcType="VARCHAR" />
		<result column="days" property="days" jdbcType="INTEGER" />
		<result column="receivable" property="receivable" jdbcType="DECIMAL" />
		<result column="receivable_comment" property="receivable_comment" jdbcType="VARCHAR" />
		<result column="adult_count" property="adult_count" jdbcType="INTEGER" />
		<result column="adult_cost" property="adult_cost" jdbcType="DECIMAL" />
		<result column="special_count" property="special_count" jdbcType="INTEGER" />
		<result column="special_cost" property="special_cost" jdbcType="DECIMAL" />
		<result column="fy" property="fy" jdbcType="DECIMAL" />
		<result column="other_cost" property="other_cost" jdbcType="DECIMAL" />
		<result column="other_cost_comment" property="other_cost_comment" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="passenger_captain" property="passenger_captain" jdbcType="VARCHAR" />
		<result column="independent_flg" property="independent_flg" jdbcType="CHAR" />
		<result column="confirm_flg" property="confirm_flg" jdbcType="CHAR" />
		<result column="confirm_date" property="confirm_date" jdbcType="VARCHAR" />
		<result column="budget_confirm_file" property="budget_confirm_file" jdbcType="VARCHAR" />
		<result column="air_ticket_cost" property="air_ticket_cost" jdbcType="DECIMAL" />
		<result column="operate_flg" property="operate_flg" jdbcType="VARCHAR" />
		<result column="product_cost" property="product_cost" jdbcType="DECIMAL" />
		<result column="treat_comment" property="treat_comment" jdbcType="VARCHAR" />
		<result column="product_value" property="product_value" jdbcType="VARCHAR" />
		<result column="lock_flg" property="lock_flg" jdbcType="VARCHAR" />
		<result column="name_confirm_status" property="name_confirm_status" jdbcType="CHAR" />
		<result column="receivable_first_flg" property="receivable_first_flg" jdbcType="CHAR" />
		<result column="cancel_flg" property="cancel_flg" jdbcType="CHAR" />
		<result column="do_confirm_date" property="do_confirm_date" jdbcType="VARCHAR" />
		<result column="as_adult_flg" property="as_adult_flg" jdbcType="CHAR" />
		<result column="product_model" property="product_model" jdbcType="VARCHAR" />
		<result column="assistant_number" property="assistant_number" jdbcType="VARCHAR" />
		<result column="sale" property="sale" jdbcType="VARCHAR" />
		<result column="hotel_comment" property="hotel_comment" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="final_type" property="final_type" jdbcType="CHAR" />
		<result column="raise_money" property="raise_money" jdbcType="DECIMAL" />
		<result column="raise_comment" property="raise_comment" jdbcType="VARCHAR" />
		<result column="reduce_money" property="reduce_money" jdbcType="DECIMAL" />
		<result column="reduce_comment" property="reduce_comment" jdbcType="VARCHAR" />
		<result column="complain_money" property="complain_money" jdbcType="DECIMAL" />
		<result column="complain_reason" property="complain_reason" jdbcType="VARCHAR" />
		<result column="complain_solution" property="complain_solution" jdbcType="VARCHAR" />
		<result column="final_status" property="final_status" jdbcType="CHAR" />
		<result column="final_confirm_file" property="final_confirm_file" jdbcType="VARCHAR" />
		<result column="final_voucher_file" property="final_voucher_file" jdbcType="VARCHAR" />
		<result column="product_manager" property="product_manager" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="standard_flg" property="standard_flg" jdbcType="CHAR" />
		<result column="final_receivable" property="final_receivable" jdbcType="DECIMAL" />
		<result column="final_receivable_comment" property="final_receivable_comment" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		team_number,
		client_employee_pk,
		product_pk,
		product_name,
		departure_date,
		days,
		receivable,
		receivable_comment,
		adult_count,
		adult_cost,
		special_count,
		special_cost,
		fy,
		other_cost,
		other_cost_comment,
		comment,
		passenger_captain,
		independent_flg,
		confirm_flg,
		confirm_date,
		budget_confirm_file,
		air_ticket_cost,
		operate_flg,
		product_cost,
		treat_comment,
		product_value,
		lock_flg,
		name_confirm_status,
		receivable_first_flg,
		cancel_flg,
		do_confirm_date,
		as_adult_flg,
		product_model,
		assistant_number,
		sale,
		hotel_comment,
		pk,
		create_user,
		update_user,
		final_type,
		raise_money,
		raise_comment,
		reduce_money,
		reduce_comment,
		complain_money,
		complain_reason,
		complain_solution,
		final_status,
		final_confirm_file,
		final_voucher_file,
		product_manager,
		create_time,
		update_time,
		standard_flg,
		final_receivable,
		final_receivable_comment
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sale_order
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sale_order
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.SaleOrderBean">

		insert into sale_order

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				team_number,
			</if>
			<if test="client_employee_pk != null">
				client_employee_pk,
			</if>
			<if test="product_pk != null">
				product_pk,
			</if>
			<if test="product_name != null">
				product_name,
			</if>
			<if test="departure_date != null">
				departure_date,
			</if>
			<if test="days != null">
				days,
			</if>
			<if test="receivable != null">
				receivable,
			</if>
			<if test="receivable_comment != null">
				receivable_comment,
			</if>
			<if test="adult_count != null">
				adult_count,
			</if>
			<if test="adult_cost != null">
				adult_cost,
			</if>
			<if test="special_count != null">
				special_count,
			</if>
			<if test="special_cost != null">
				special_cost,
			</if>
			<if test="fy != null">
				fy,
			</if>
			<if test="other_cost != null">
				other_cost,
			</if>
			<if test="other_cost_comment != null">
				other_cost_comment,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="passenger_captain != null">
				passenger_captain,
			</if>
			<if test="independent_flg != null">
				independent_flg,
			</if>
			<if test="confirm_flg != null">
				confirm_flg,
			</if>
			<if test="confirm_date != null">
				confirm_date,
			</if>
			<if test="budget_confirm_file != null">
				budget_confirm_file,
			</if>
			<if test="air_ticket_cost != null">
				air_ticket_cost,
			</if>
			<if test="operate_flg != null">
				operate_flg,
			</if>
			<if test="product_cost != null">
				product_cost,
			</if>
			<if test="treat_comment != null">
				treat_comment,
			</if>
			<if test="product_value != null">
				product_value,
			</if>
			<if test="lock_flg != null">
				lock_flg,
			</if>
			<if test="name_confirm_status != null">
				name_confirm_status,
			</if>
			<if test="receivable_first_flg != null">
				receivable_first_flg,
			</if>
			<if test="cancel_flg != null">
				cancel_flg,
			</if>
			<if test="do_confirm_date != null">
				do_confirm_date,
			</if>
			<if test="as_adult_flg != null">
				as_adult_flg,
			</if>
			<if test="product_model != null">
				product_model,
			</if>
			<if test="assistant_number != null">
				assistant_number,
			</if>
			<if test="sale != null">
				sale,
			</if>
			<if test="hotel_comment != null">
				hotel_comment,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="final_type != null">
				final_type,
			</if>
			<if test="raise_money != null">
				raise_money,
			</if>
			<if test="raise_comment != null">
				raise_comment,
			</if>
			<if test="reduce_money != null">
				reduce_money,
			</if>
			<if test="reduce_comment != null">
				reduce_comment,
			</if>
			<if test="complain_money != null">
				complain_money,
			</if>
			<if test="complain_reason != null">
				complain_reason,
			</if>
			<if test="complain_solution != null">
				complain_solution,
			</if>
			<if test="final_status != null">
				final_status,
			</if>
			<if test="final_confirm_file != null">
				final_confirm_file,
			</if>
			<if test="final_voucher_file != null">
				final_voucher_file,
			</if>
			<if test="product_manager != null">
				product_manager,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="standard_flg != null">
				standard_flg,
			</if>
			<if test="final_receivable != null">
				final_receivable,
			</if>
			<if test="final_receivable_comment != null">
				final_receivable_comment,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				#{team_number,jdbcType=VARCHAR},
			</if>
			<if test="client_employee_pk != null">
				#{client_employee_pk,jdbcType=CHAR},
			</if>
			<if test="product_pk != null">
				#{product_pk,jdbcType=CHAR},
			</if>
			<if test="product_name != null">
				#{product_name,jdbcType=VARCHAR},
			</if>
			<if test="departure_date != null">
				#{departure_date,jdbcType=VARCHAR},
			</if>
			<if test="days != null">
				#{days,jdbcType=INTEGER},
			</if>
			<if test="receivable != null">
				#{receivable,jdbcType=DECIMAL},
			</if>
			<if test="receivable_comment != null">
				#{receivable_comment,jdbcType=VARCHAR},
			</if>
			<if test="adult_count != null">
				#{adult_count,jdbcType=INTEGER},
			</if>
			<if test="adult_cost != null">
				#{adult_cost,jdbcType=DECIMAL},
			</if>
			<if test="special_count != null">
				#{special_count,jdbcType=INTEGER},
			</if>
			<if test="special_cost != null">
				#{special_cost,jdbcType=DECIMAL},
			</if>
			<if test="fy != null">
				#{fy,jdbcType=DECIMAL},
			</if>
			<if test="other_cost != null">
				#{other_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_cost_comment != null">
				#{other_cost_comment,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="passenger_captain != null">
				#{passenger_captain,jdbcType=VARCHAR},
			</if>
			<if test="independent_flg != null">
				#{independent_flg,jdbcType=CHAR},
			</if>
			<if test="confirm_flg != null">
				#{confirm_flg,jdbcType=CHAR},
			</if>
			<if test="confirm_date != null">
				#{confirm_date,jdbcType=VARCHAR},
			</if>
			<if test="budget_confirm_file != null">
				#{budget_confirm_file,jdbcType=VARCHAR},
			</if>
			<if test="air_ticket_cost != null">
				#{air_ticket_cost,jdbcType=DECIMAL},
			</if>
			<if test="operate_flg != null">
				#{operate_flg,jdbcType=VARCHAR},
			</if>
			<if test="product_cost != null">
				#{product_cost,jdbcType=DECIMAL},
			</if>
			<if test="treat_comment != null">
				#{treat_comment,jdbcType=VARCHAR},
			</if>
			<if test="product_value != null">
				#{product_value,jdbcType=VARCHAR},
			</if>
			<if test="lock_flg != null">
				#{lock_flg,jdbcType=VARCHAR},
			</if>
			<if test="name_confirm_status != null">
				#{name_confirm_status,jdbcType=CHAR},
			</if>
			<if test="receivable_first_flg != null">
				#{receivable_first_flg,jdbcType=CHAR},
			</if>
			<if test="cancel_flg != null">
				#{cancel_flg,jdbcType=CHAR},
			</if>
			<if test="do_confirm_date != null">
				#{do_confirm_date,jdbcType=VARCHAR},
			</if>
			<if test="as_adult_flg != null">
				#{as_adult_flg,jdbcType=CHAR},
			</if>
			<if test="product_model != null">
				#{product_model,jdbcType=VARCHAR},
			</if>
			<if test="assistant_number != null">
				#{assistant_number,jdbcType=VARCHAR},
			</if>
			<if test="sale != null">
				#{sale,jdbcType=VARCHAR},
			</if>
			<if test="hotel_comment != null">
				#{hotel_comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="final_type != null">
				#{final_type,jdbcType=CHAR},
			</if>
			<if test="raise_money != null">
				#{raise_money,jdbcType=DECIMAL},
			</if>
			<if test="raise_comment != null">
				#{raise_comment,jdbcType=VARCHAR},
			</if>
			<if test="reduce_money != null">
				#{reduce_money,jdbcType=DECIMAL},
			</if>
			<if test="reduce_comment != null">
				#{reduce_comment,jdbcType=VARCHAR},
			</if>
			<if test="complain_money != null">
				#{complain_money,jdbcType=DECIMAL},
			</if>
			<if test="complain_reason != null">
				#{complain_reason,jdbcType=VARCHAR},
			</if>
			<if test="complain_solution != null">
				#{complain_solution,jdbcType=VARCHAR},
			</if>
			<if test="final_status != null">
				#{final_status,jdbcType=CHAR},
			</if>
			<if test="final_confirm_file != null">
				#{final_confirm_file,jdbcType=VARCHAR},
			</if>
			<if test="final_voucher_file != null">
				#{final_voucher_file,jdbcType=VARCHAR},
			</if>
			<if test="product_manager != null">
				#{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="standard_flg != null">
				#{standard_flg,jdbcType=CHAR},
			</if>
			<if test="final_receivable != null">
				#{final_receivable,jdbcType=DECIMAL},
			</if>
			<if test="final_receivable_comment != null">
				#{final_receivable_comment,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.SaleOrderBean">
		update sale_order
		<set>
			<if test="team_number != null">
				team_number = #{team_number,jdbcType=VARCHAR},
			</if>
			<if test="client_employee_pk != null">
				client_employee_pk = #{client_employee_pk,jdbcType=CHAR},
			</if>
			<if test="product_pk != null">
				product_pk = #{product_pk,jdbcType=CHAR},
			</if>
			<if test="product_name != null">
				product_name = #{product_name,jdbcType=VARCHAR},
			</if>
			<if test="departure_date != null">
				departure_date = #{departure_date,jdbcType=VARCHAR},
			</if>
			<if test="days != null">
				days = #{days,jdbcType=INTEGER},
			</if>
			<if test="receivable != null">
				receivable = #{receivable,jdbcType=DECIMAL},
			</if>
			<if test="receivable_comment != null">
				receivable_comment = #{receivable_comment,jdbcType=VARCHAR},
			</if>
			<if test="adult_count != null">
				adult_count = #{adult_count,jdbcType=INTEGER},
			</if>
			<if test="adult_cost != null">
				adult_cost = #{adult_cost,jdbcType=DECIMAL},
			</if>
			<if test="special_count != null">
				special_count = #{special_count,jdbcType=INTEGER},
			</if>
			<if test="special_cost != null">
				special_cost = #{special_cost,jdbcType=DECIMAL},
			</if>
			<if test="fy != null">
				fy = #{fy,jdbcType=DECIMAL},
			</if>
			<if test="other_cost != null">
				other_cost = #{other_cost,jdbcType=DECIMAL},
			</if>
			<if test="other_cost_comment != null">
				other_cost_comment = #{other_cost_comment,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="passenger_captain != null">
				passenger_captain = #{passenger_captain,jdbcType=VARCHAR},
			</if>
			<if test="independent_flg != null">
				independent_flg = #{independent_flg,jdbcType=CHAR},
			</if>
			<if test="confirm_flg != null">
				confirm_flg = #{confirm_flg,jdbcType=CHAR},
			</if>
			<if test="confirm_date != null">
				confirm_date = #{confirm_date,jdbcType=VARCHAR},
			</if>
			<if test="budget_confirm_file != null">
				budget_confirm_file = #{budget_confirm_file,jdbcType=VARCHAR},
			</if>
			<if test="air_ticket_cost != null">
				air_ticket_cost = #{air_ticket_cost,jdbcType=DECIMAL},
			</if>
			<if test="operate_flg != null">
				operate_flg = #{operate_flg,jdbcType=VARCHAR},
			</if>
			<if test="product_cost != null">
				product_cost = #{product_cost,jdbcType=DECIMAL},
			</if>
			<if test="treat_comment != null">
				treat_comment = #{treat_comment,jdbcType=VARCHAR},
			</if>
			<if test="product_value != null">
				product_value = #{product_value,jdbcType=VARCHAR},
			</if>
			<if test="lock_flg != null">
				lock_flg = #{lock_flg,jdbcType=VARCHAR},
			</if>
			<if test="name_confirm_status != null">
				name_confirm_status = #{name_confirm_status,jdbcType=CHAR},
			</if>
			<if test="receivable_first_flg != null">
				receivable_first_flg = #{receivable_first_flg,jdbcType=CHAR},
			</if>
			<if test="cancel_flg != null">
				cancel_flg = #{cancel_flg,jdbcType=CHAR},
			</if>
			<if test="do_confirm_date != null">
				do_confirm_date = #{do_confirm_date,jdbcType=VARCHAR},
			</if>
			<if test="as_adult_flg != null">
				as_adult_flg = #{as_adult_flg,jdbcType=CHAR},
			</if>
			<if test="product_model != null">
				product_model = #{product_model,jdbcType=VARCHAR},
			</if>
			<if test="assistant_number != null">
				assistant_number = #{assistant_number,jdbcType=VARCHAR},
			</if>
			<if test="sale != null">
				sale = #{sale,jdbcType=VARCHAR},
			</if>
			<if test="hotel_comment != null">
				hotel_comment = #{hotel_comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="final_type != null">
				final_type = #{final_type,jdbcType=CHAR},
			</if>
			<if test="raise_money != null">
				raise_money = #{raise_money,jdbcType=DECIMAL},
			</if>
			<if test="raise_comment != null">
				raise_comment = #{raise_comment,jdbcType=VARCHAR},
			</if>
			<if test="reduce_money != null">
				reduce_money = #{reduce_money,jdbcType=DECIMAL},
			</if>
			<if test="reduce_comment != null">
				reduce_comment = #{reduce_comment,jdbcType=VARCHAR},
			</if>
			<if test="complain_money != null">
				complain_money = #{complain_money,jdbcType=DECIMAL},
			</if>
			<if test="complain_reason != null">
				complain_reason = #{complain_reason,jdbcType=VARCHAR},
			</if>
			<if test="complain_solution != null">
				complain_solution = #{complain_solution,jdbcType=VARCHAR},
			</if>
			<if test="final_status != null">
				final_status = #{final_status,jdbcType=CHAR},
			</if>
			<if test="final_confirm_file != null">
				final_confirm_file = #{final_confirm_file,jdbcType=VARCHAR},
			</if>
			<if test="final_voucher_file != null">
				final_voucher_file = #{final_voucher_file,jdbcType=VARCHAR},
			</if>
			<if test="product_manager != null">
				product_manager = #{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="standard_flg != null">
				standard_flg = #{standard_flg,jdbcType=CHAR},
			</if>
			<if test="final_receivable != null">
				final_receivable = #{final_receivable,jdbcType=DECIMAL},
			</if>
			<if test="final_receivable_comment != null">
				final_receivable_comment = #{final_receivable_comment,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.SaleOrderBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sale_order
	</select>
</mapper>