<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.SupplierMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.SupplierBean">
		<result column="supplier_name" property="supplier_name" jdbcType="VARCHAR" />
		<result column="supplier_short_name" property="supplier_short_name" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="body_name" property="body_name" jdbcType="VARCHAR" />
		<result column="body_sex" property="body_sex" jdbcType="CHAR" />
		<result column="body_id" property="body_id" jdbcType="VARCHAR" />
		<result column="body_birth_year" property="body_birth_year" jdbcType="VARCHAR" />
		<result column="body_wechat" property="body_wechat" jdbcType="VARCHAR" />
		<result column="body_cellphone" property="body_cellphone" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="approve_user" property="approve_user" jdbcType="VARCHAR" />
		<result column="update_reason" property="update_reason" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="supplier_provice" property="supplier_provice" jdbcType="VARCHAR" />
		<result column="supplier_city" property="supplier_city" jdbcType="VARCHAR" />
		<result column="credit_code" property="credit_code" jdbcType="VARCHAR" />
		<result column="payment_type" property="payment_type" jdbcType="VARCHAR" />
		<result column="is_cooperate" property="is_cooperate" jdbcType="CHAR" />
		<result column="corporate_name" property="corporate_name" jdbcType="VARCHAR" />
		<result column="corporate_sex" property="corporate_sex" jdbcType="CHAR" />
		<result column="corporate_id" property="corporate_id" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="CHAR" />
		<result column="corporate_account_name" property="corporate_account_name" jdbcType="VARCHAR" />
		<result column="corporate_account_number" property="corporate_account_number" jdbcType="VARCHAR" />
		<result column="corporate_account_bank" property="corporate_account_bank" jdbcType="VARCHAR" />
		<result column="personal_account_name" property="personal_account_name" jdbcType="VARCHAR" />
		<result column="personal_account_number" property="personal_account_number" jdbcType="VARCHAR" />
		<result column="personal_account_bank" property="personal_account_bank" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		supplier_name,
		supplier_short_name,
		telephone,
		fax,
		address,
		body_name,
		body_sex,
		body_id,
		body_birth_year,
		body_wechat,
		body_cellphone,
		create_user,
		update_user,
		approve_user,
		update_reason,
		comment,
		pk,
		supplier_provice,
		supplier_city,
		credit_code,
		payment_type,
		is_cooperate,
		corporate_name,
		corporate_sex,
		corporate_id,
		type,
		corporate_account_name,
		corporate_account_number,
		corporate_account_bank,
		personal_account_name,
		personal_account_number,
		personal_account_bank,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from supplier
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByPks" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from supplier
		where pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		supplier
		where pk = #{pk,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xinchi.bean.SupplierBean">

		insert into supplier

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="supplier_name != null">
				supplier_name,
			</if>
			<if test="supplier_short_name != null">
				supplier_short_name,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="body_name != null">
				body_name,
			</if>
			<if test="body_sex != null">
				body_sex,
			</if>
			<if test="body_id != null">
				body_id,
			</if>
			<if test="body_birth_year != null">
				body_birth_year,
			</if>
			<if test="body_wechat != null">
				body_wechat,
			</if>
			<if test="body_cellphone != null">
				body_cellphone,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="approve_user != null">
				approve_user,
			</if>
			<if test="update_reason != null">
				update_reason,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="supplier_provice != null">
				supplier_provice,
			</if>
			<if test="supplier_city != null">
				supplier_city,
			</if>
			<if test="credit_code != null">
				credit_code,
			</if>
			<if test="payment_type != null">
				payment_type,
			</if>
			<if test="is_cooperate != null">
				is_cooperate,
			</if>
			<if test="corporate_name != null">
				corporate_name,
			</if>
			<if test="corporate_sex != null">
				corporate_sex,
			</if>
			<if test="corporate_id != null">
				corporate_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="corporate_account_name != null">
				corporate_account_name,
			</if>
			<if test="corporate_account_number != null">
				corporate_account_number,
			</if>
			<if test="corporate_account_bank != null">
				corporate_account_bank,
			</if>
			<if test="personal_account_name != null">
				personal_account_name,
			</if>
			<if test="personal_account_number != null">
				personal_account_number,
			</if>
			<if test="personal_account_bank != null">
				personal_account_bank,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="supplier_name != null">
				#{supplier_name,jdbcType=VARCHAR},
			</if>
			<if test="supplier_short_name != null">
				#{supplier_short_name,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="body_name != null">
				#{body_name,jdbcType=VARCHAR},
			</if>
			<if test="body_sex != null">
				#{body_sex,jdbcType=CHAR},
			</if>
			<if test="body_id != null">
				#{body_id,jdbcType=VARCHAR},
			</if>
			<if test="body_birth_year != null">
				#{body_birth_year,jdbcType=VARCHAR},
			</if>
			<if test="body_wechat != null">
				#{body_wechat,jdbcType=VARCHAR},
			</if>
			<if test="body_cellphone != null">
				#{body_cellphone,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				#{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="update_reason != null">
				#{update_reason,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="supplier_provice != null">
				#{supplier_provice,jdbcType=VARCHAR},
			</if>
			<if test="supplier_city != null">
				#{supplier_city,jdbcType=VARCHAR},
			</if>
			<if test="credit_code != null">
				#{credit_code,jdbcType=VARCHAR},
			</if>
			<if test="payment_type != null">
				#{payment_type,jdbcType=VARCHAR},
			</if>
			<if test="is_cooperate != null">
				#{is_cooperate,jdbcType=CHAR},
			</if>
			<if test="corporate_name != null">
				#{corporate_name,jdbcType=VARCHAR},
			</if>
			<if test="corporate_sex != null">
				#{corporate_sex,jdbcType=CHAR},
			</if>
			<if test="corporate_id != null">
				#{corporate_id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=CHAR},
			</if>
			<if test="corporate_account_name != null">
				#{corporate_account_name,jdbcType=VARCHAR},
			</if>
			<if test="corporate_account_number != null">
				#{corporate_account_number,jdbcType=VARCHAR},
			</if>
			<if test="corporate_account_bank != null">
				#{corporate_account_bank,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_name != null">
				#{personal_account_name,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_number != null">
				#{personal_account_number,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_bank != null">
				#{personal_account_bank,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.SupplierBean">
		update supplier
		<set>
			<if test="supplier_name != null">
				supplier_name = #{supplier_name,jdbcType=VARCHAR},
			</if>
			<if test="supplier_short_name != null">
				supplier_short_name =
				#{supplier_short_name,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				fax = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="body_name != null">
				body_name = #{body_name,jdbcType=VARCHAR},
			</if>
			<if test="body_sex != null">
				body_sex = #{body_sex,jdbcType=CHAR},
			</if>
			<if test="body_id != null">
				body_id = #{body_id,jdbcType=VARCHAR},
			</if>
			<if test="body_birth_year != null">
				body_birth_year = #{body_birth_year,jdbcType=VARCHAR},
			</if>
			<if test="body_wechat != null">
				body_wechat = #{body_wechat,jdbcType=VARCHAR},
			</if>
			<if test="body_cellphone != null">
				body_cellphone = #{body_cellphone,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				approve_user = #{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="update_reason != null">
				update_reason = #{update_reason,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="supplier_provice != null">
				supplier_provice = #{supplier_provice,jdbcType=VARCHAR},
			</if>
			<if test="supplier_city != null">
				supplier_city = #{supplier_city,jdbcType=VARCHAR},
			</if>
			<if test="credit_code != null">
				credit_code = #{credit_code,jdbcType=VARCHAR},
			</if>
			<if test="payment_type != null">
				payment_type = #{payment_type,jdbcType=VARCHAR},
			</if>
			<if test="is_cooperate != null">
				is_cooperate = #{is_cooperate,jdbcType=CHAR},
			</if>
			<if test="corporate_name != null">
				corporate_name = #{corporate_name,jdbcType=VARCHAR},
			</if>
			<if test="corporate_sex != null">
				corporate_sex = #{corporate_sex,jdbcType=CHAR},
			</if>
			<if test="corporate_id != null">
				corporate_id = #{corporate_id,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=CHAR},
			</if>
			<if test="corporate_account_name != null">
				corporate_account_name =
				#{corporate_account_name,jdbcType=VARCHAR},
			</if>
			<if test="corporate_account_number != null">
				corporate_account_number =
				#{corporate_account_number,jdbcType=VARCHAR},
			</if>
			<if test="corporate_account_bank != null">
				corporate_account_bank =
				#{corporate_account_bank,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_name != null">
				personal_account_name =
				#{personal_account_name,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_number != null">
				personal_account_number =
				#{personal_account_number,jdbcType=VARCHAR},
			</if>
			<if test="personal_account_bank != null">
				personal_account_bank =
				#{personal_account_bank,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.SupplierBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from supplier
		<where>
			<if test="supplier_name != null and supplier_name !=''">
				and supplier_name=#{supplier_name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from supplier
		<where>
			<if test="params.bo.supplier_name != null and params.bo.supplier_name !=''">
				and supplier_name like CONCAT('%',#{params.bo.supplier_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.supplier_short_name != null and params.bo.supplier_short_name !=''">
				and supplier_short_name like CONCAT('%',#{params.bo.supplier_short_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.supplier_provice != null and params.bo.supplier_provice !=''">
				and supplier_provice = #{params.bo.supplier_provice,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.supplier_city != null and params.bo.supplier_city !=''">
				and supplier_city = #{params.bo.supplier_city,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.type != null and params.bo.type !=''">
				and type = #{params.bo.type,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.type == null or params.bo.type ==''">
				and type = 'D'
			</if>
			<if test="params.bo.is_cooperates != null and params.bo.is_cooperates !=''">
				and is_cooperate in 
				<foreach item="item" index="index" collection="params.bo.is_cooperates" open="(" separator="," close=")">
					#{params.bo.is_cooperates[${index}]}
				</foreach> 
			</if>
			<if test="params.bo.is_cooperates == null or params.bo.is_cooperates.size==0">
				and is_cooperate ='Y'
			</if>
		</where>
		
		ORDER BY is_cooperate DESC,supplier_short_name
	</select>
</mapper>