<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.TeamReportMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.TeamReportBean">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="sale_cost" property="sale_cost" jdbcType="DECIMAL" />
		<result column="sys_cost" property="sys_cost" jdbcType="DECIMAL" />
		<result column="discount_flg" property="discount_flg" jdbcType="CHAR" />
		<result column="discount_receivable" property="discount_receivable" jdbcType="DECIMAL" />
		<result column="other_pay" property="other_pay" jdbcType="DECIMAL" />
		<result column="other_receive" property="other_receive" jdbcType="DECIMAL" />
		<result column="approved" property="approved" jdbcType="CHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		team_number,
		sale_cost,
		sys_cost,
		discount_flg,
		discount_receivable,
		approved,
		pk,
		update_user,
		create_user,
		create_time,
		update_time,
		other_pay,
		other_receive
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from team_report
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByTeamNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from team_report
		where team_number = #{team_number,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from team_report
		where pk = #{pk,jdbcType=CHAR}
	</delete>
	<delete id="deleteByTeamNumber" parameterType="java.lang.String">
		delete from team_report
		where team_number =
		#{team_number,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.TeamReportBean">
		insert into team_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				team_number,
			</if>
			<if test="sale_cost != null">
				sale_cost,
			</if>
			<if test="sys_cost != null">
				sys_cost,
			</if>
			<if test="discount_flg != null">
				discount_flg,
			</if>
			<if test="discount_receivable != null">
				discount_receivable,
			</if>
			<if test="approved != null">
				approved,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="team_number != null">
				#{team_number,jdbcType=VARCHAR},
			</if>
			<if test="sale_cost != null">
				#{sale_cost,jdbcType=DECIMAL},
			</if>
			<if test="sys_cost != null">
				#{sys_cost,jdbcType=DECIMAL},
			</if>
			<if test="discount_flg != null">
				#{discount_flg,jdbcType=CHAR},
			</if>
			<if test="discount_receivable != null">
				#{discount_receivable,jdbcType=DECIMAL},
			</if>
			<if test="approved != null">
				#{approved,jdbcType=CHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.TeamReportBean">
		update team_report
		<set>
			<if test="team_number != null">
				team_number = #{team_number,jdbcType=VARCHAR},
			</if>
			<if test="sale_cost != null">
				sale_cost = #{sale_cost,jdbcType=DECIMAL},
			</if>
			<if test="sys_cost != null">
				sys_cost = #{sys_cost,jdbcType=DECIMAL},
			</if>
			<if test="discount_flg != null">
				discount_flg = #{discount_flg,jdbcType=CHAR},
			</if>
			<if test="discount_receivable != null">
				discount_receivable = #{discount_receivable,jdbcType=DECIMAL},
			</if>
			<if test="approved != null">
				approved = #{approved,jdbcType=CHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="other_pay != null">
				other_pay = #{other_pay,jdbcType=DECIMAL},
			</if>
			<if test="other_receive != null">
				other_receive = #{other_receive,jdbcType=DECIMAL},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.TeamReportBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from team_report
	</select>
</mapper>