<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.TicketNameTempletMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.TicketNameTempletBean">
		<result column="templet_name" property="templet_name" jdbcType="VARCHAR" />
		<result column="file_name" property="file_name" jdbcType="VARCHAR" />
		<result column="used_count" property="used_count" jdbcType="INTEGER" />
		<result column="last_used_time" property="last_used_time" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="create_user_name" property="create_user_name" jdbcType="VARCHAR" />
		<result column="update_user_name" property="update_user_name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		templet_name,
		file_name,
		used_count,
		last_used_time,
		pk,
		create_user,
		update_user,
		create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ticket_name_templet
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from ticket_name_templet
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.TicketNameTempletBean">

		insert into ticket_name_templet

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="templet_name != null">
				templet_name,
			</if>
			<if test="file_name != null">
				file_name,
			</if>
			<if test="used_count != null">
				used_count,
			</if>
			<if test="last_used_time != null">
				last_used_time,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="templet_name != null">
				#{templet_name,jdbcType=VARCHAR},
			</if>
			<if test="file_name != null">
				#{file_name,jdbcType=VARCHAR},
			</if>
			<if test="used_count != null">
				#{used_count,jdbcType=INTEGER},
			</if>
			<if test="last_used_time != null">
				#{last_used_time,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.TicketNameTempletBean">
		update ticket_name_templet
		<set>
			<if test="templet_name != null">
				templet_name = #{templet_name,jdbcType=VARCHAR},
			</if>
			<if test="file_name != null">
				file_name = #{file_name,jdbcType=VARCHAR},
			</if>
			<if test="used_count != null">
				used_count = #{used_count,jdbcType=INTEGER},
			</if>
			<if test="last_used_time != null">
				last_used_time = #{last_used_time,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.TicketNameTempletBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ticket_name_templet
		<where>
			<if test="templet_name !=null and templet_name !=''">
				and templet_name = #{templet_name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.templet_name,
		A.file_name,
		A.used_count,
		A.last_used_time,
		A.pk,
		A.create_user,
		A.update_user,
		A.create_time,
		A.update_time,
		B.user_name AS create_user_name,
		C.user_name AS update_user_name
		
		from ticket_name_templet A
		
		LEFT JOIN user_base B ON A.create_user = B.user_number
		LEFT JOIN user_base C ON A.update_user = C.user_number
		<where>
			<if test="params.bo.templet_name != null and params.bo.templet_name !=''">
				and A.templet_name like CONCAT('%',#{params.bo.templet_name,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by A.templet_name
	</select>
</mapper>