<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/datetimepicker/jquery.datetimepicker.css"/>
</head>
<body>
    <script src="/static/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/vendor/messages_zh.min.js"></script>
    <input type="hidden" id="hidden_apiurl" value="{{ config.APIURL }}">
    <input type="hidden" id="hidden_projectId" value="{{ projectId }}">
    <input type="hidden" id="hidden_message_type" value="wechat">
    <div>
        <form class="form-box info-form">
            <div class="input-row clearfloat required">
                <label class="l">微信批次名称</label>
                <div class="ip"><input type="text" class="ip-default" data-bind="value: smsBatch().name" placeholder="微信批次名称" name="name" required="required"/></div>
            </div>
            <div class="input-row clearfloat required">
                <label class="l">消息模板编号</label>
                <div class="ip"><input type="text" class="ip-default" data-bind="value: smsBatch().messageTemplateId" placeholder="微信模板编号" name="messageTemplateId" required="required"/></div>
            </div>
            <div class="input-row clearfloat required">
                <label class="l">消息参数(JSON)</label>
                <div class="ip"><textarea type="text" class="ip-default" rows="15" data-bind="value: smsBatch().content" placeholder="微信消息参数 [[姓名]]会替换成用户姓名"></textarea></div>
            </div>
            <div class="input-row clearfloat required">
                <label class="l">详情链接</label>
                <div class="ip"><input type="text" class="ip-default" data-bind="value: smsBatch().url" placeholder="详情链接"></input></div>
            </div>
            <div class="input-row clearfloat required">
                <label class="l">面试时间</label>
                <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: smsBatch().batchDate" placeholder="面试时间"/></div>
            </div>
        </form>
        <div align="right" style="padding-top: 0px; padding-right: 100px;">
            <a type="submit" class="btn btn-green btn-r" data-bind="click: createBatch">保存</a>
        </div>
    </div>

    <script src="/static/vendor/layer-v1.8.5/layer/layer.min.js"></script>
    <script src="/static/vendor/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="/static/vendor/knockout-3.2.0.js"></script>
    <script src="/static/js/projects/sms-batch-creation.js{{ _suffix_ }}"></script>
    <script src="/static/js/datepicker.js{{ _suffix_ }}"></script>
    <script src="/static/js/utils.js{{ _suffix_ }}"></script>
    <script src="/static/js/validation.js{{ _suffix_ }}"></script>
</body>
</html>