<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.AirTicketPaidDetailMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.AirTicketPaidDetailBean">
		<result column="supplier_employee_pk" property="supplier_employee_pk" jdbcType="CHAR" />
		<result column="supplier_employee_name" property="supplier_employee_name" jdbcType="CHAR" />
		<result column="financial_body_pk" property="financial_body_pk" jdbcType="CHAR" />
		<result column="financial_body_name" property="financial_body_name" jdbcType="CHAR" />
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="allot_money" property="allot_money" jdbcType="DECIMAL" />
		<result column="sum_money" property="sum_money" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="VARCHAR" />
		<result column="limit_time" property="limit_time" jdbcType="VARCHAR" />
		<result column="confirm_time" property="confirm_time" jdbcType="VARCHAR" />
		<result column="approve_user" property="approve_user" jdbcType="VARCHAR" />
		<result column="related_pk" property="related_pk" jdbcType="CHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="base_pk" property="base_pk" jdbcType="CHAR" />
		<result column="PNR" property="PNR" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="voucher_number" property="voucher_number" jdbcType="VARCHAR" />
		<result column="receiver" property="receiver" jdbcType="VARCHAR" />
		<result column="card_account" property="card_account" jdbcType="VARCHAR" />
		<result column="voucher_file" property="voucher_file" jdbcType="VARCHAR" />
		<result column="product_manager" property="product_manager" jdbcType="VARCHAR" />
		<result column="product_manager_name" property="product_manager_name" jdbcType="VARCHAR" />
		<result column="belong_month" property="belong_month" jdbcType="VARCHAR" />
		<result column="from_to_city" property="from_to_city" jdbcType="VARCHAR" />
		<result column="passenger" property="passenger" jdbcType="VARCHAR" />
		<result column="first_date" property="first_date" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="OtherPaymentMap" type="com.xinchi.bean.AirOtherPaymentDto">
		
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="pay_money" property="pay_money" jdbcType="DECIMAL" />
		<result column="receive_money" property="receive_money" jdbcType="DECIMAL" />
		<result column="product_manager_number" property="product_manager_number" jdbcType="VARCHAR" />
		<result column="belong_month" property="belong_month" jdbcType="VARCHAR" />
		<result column="product_manager_name" property="product_manager_name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		supplier_employee_pk,
		money,
		allot_money,
		sum_money,
		status,
		type,
		time,
		limit_time,
		confirm_time,
		approve_user,
		related_pk,
		comment,
		pk,
		create_user,
		update_user,
		base_pk,
		PNR,
		create_time,
		update_time,
		voucher_number,
		receiver,
		card_account,
		voucher_file,
		product_manager,
		belong_month
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from air_ticket_paid_detail
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByBasePk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from air_ticket_paid_detail
		where base_pk = #{base_pk,jdbcType=CHAR}
	</select>
	<select id="selectByRelatedPk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		B.financial_body_pk,
		C.supplier_name AS financial_body_name,
		A.money,
		A.allot_money,
		A.sum_money,
		A.status,
		A.type,
		A.time,
		A.limit_time,
		A.confirm_time,
		A.approve_user,
		A.related_pk,
		A.comment,
		A.pk,
		A.create_user,
		A.update_user,
		A.base_pk,
		A.PNR,
		A.create_time,
		A.update_time,
		A.voucher_number,
		A.receiver,
		A.card_account,
		A.voucher_file,
		A.product_manager,
		A.belong_month

		from air_ticket_paid_detail A
		LEFT JOIN supplier_employee B ON A.supplier_employee_pk = B.pk
		LEFT JOIN supplier C ON B.financial_body_pk = C.pk
		where
		related_pk = #{related_pk,jdbcType=CHAR}
	</select>

	<select id="selectGroupDetailByRelatedPk" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		B.financial_body_pk,
		C.supplier_name AS financial_body_name,
		A.money,
		A.allot_money,
		A.sum_money,
		A.status,
		A.type,
		A.time,
		A.limit_time,
		A.confirm_time,
		A.approve_user,
		A.related_pk,
		A.comment,
		A.pk,
		A.create_user,
		A.update_user,
		A.base_pk,
		A.PNR,
		A.create_time,
		A.update_time,
		A.voucher_number,
		A.receiver,
		A.card_account,
		A.voucher_file,
		A.product_manager,
		A.belong_month

		from
		view_air_ticket_paid_detail A LEFT JOIN supplier_employee B ON A.supplier_employee_pk = B.pk
		LEFT JOIN supplier C ON
		B.financial_body_pk = C.pk
		where related_pk = #{related_pk,jdbcType=CHAR}

	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from air_ticket_paid_detail
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.AirTicketPaidDetailBean">

		insert into air_ticket_paid_detail

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="supplier_employee_pk != null">
				supplier_employee_pk,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="allot_money != null">
				allot_money,
			</if>
			<if test="sum_money != null">
				sum_money,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="limit_time != null">
				limit_time,
			</if>
			<if test="confirm_time != null">
				confirm_time,
			</if>
			<if test="approve_user != null">
				approve_user,
			</if>
			<if test="related_pk != null">
				related_pk,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="base_pk != null">
				base_pk,
			</if>
			<if test="PNR != null">
				PNR,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="voucher_number != null">
				voucher_number,
			</if>
			<if test="receiver != null">
				receiver,
			</if>
			<if test="card_account != null">
				card_account,
			</if>
			<if test="voucher_file != null">
				voucher_file,
			</if>
			<if test="product_manager != null">
				product_manager,
			</if>
			<if test="belong_month != null">
				belong_month,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="supplier_employee_pk != null">
				#{supplier_employee_pk,jdbcType=CHAR},
			</if>
			<if test="money != null">
				#{money,jdbcType=DECIMAL},
			</if>
			<if test="allot_money != null">
				#{allot_money,jdbcType=DECIMAL},
			</if>
			<if test="sum_money != null">
				#{sum_money,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=VARCHAR},
			</if>
			<if test="limit_time != null">
				#{limit_time,jdbcType=VARCHAR},
			</if>
			<if test="confirm_time != null">
				#{confirm_time,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				#{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="related_pk != null">
				#{related_pk,jdbcType=CHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="base_pk != null">
				#{base_pk,jdbcType=CHAR},
			</if>
			<if test="PNR != null">
				#{PNR,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="voucher_number != null">
				#{voucher_number,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null">
				#{receiver,jdbcType=VARCHAR},
			</if>
			<if test="card_account != null">
				#{card_account,jdbcType=VARCHAR},
			</if>
			<if test="voucher_file != null">
				#{voucher_file,jdbcType=VARCHAR},
			</if>
			<if test="product_manager != null">
				#{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="belong_month != null">
				#{belong_month,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.AirTicketPaidDetailBean">
		update air_ticket_paid_detail
		<set>
			<if test="supplier_employee_pk != null">
				supplier_employee_pk = #{supplier_employee_pk,jdbcType=CHAR},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=DECIMAL},
			</if>
			<if test="allot_money != null">
				allot_money = #{allot_money,jdbcType=DECIMAL},
			</if>
			<if test="sum_money != null">
				sum_money = #{sum_money,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=VARCHAR},
			</if>
			<if test="limit_time != null">
				limit_time = #{limit_time,jdbcType=VARCHAR},
			</if>
			<if test="confirm_time != null">
				confirm_time = #{confirm_time,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				approve_user = #{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="related_pk != null">
				related_pk = #{related_pk,jdbcType=CHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="base_pk != null">
				base_pk = #{base_pk,jdbcType=CHAR},
			</if>
			<if test="PNR != null">
				PNR = #{PNR,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="voucher_number != null">
				voucher_number = #{voucher_number,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null">
				receiver = #{receiver,jdbcType=VARCHAR},
			</if>
			<if test="card_account != null">
				card_account = #{card_account,jdbcType=VARCHAR},
			</if>
			<if test="voucher_file != null">
				voucher_file = #{voucher_file,jdbcType=VARCHAR},
			</if>
			<if test="product_manager != null">
				product_manager = #{product_manager,jdbcType=VARCHAR},
			</if>
			<if test="belong_month != null">
				belong_month = #{belong_month,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.AirTicketPaidDetailBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from air_ticket_paid_detail
	</select>
	<select id="selectDepositDeducts" parameterType="com.xinchi.bean.AirServiceFeeDto" resultMap="OtherPaymentMap">
		SELECT
		SUM(A.money) AS money,
		A.product_manager AS product_manager_number,
		B.user_name AS product_manager_name,
        A.belong_month AS belong_month
		FROM
		air_ticket_paid_detail A
		LEFT JOIN
		user_base B ON A.product_manager = B.user_number

		<where>
			and A.type = 'DEDUCT'
			<if test="first_month != null and first_month !=''">
				and A.belong_month = #{first_month,jdbcType=VARCHAR}
			</if>
			<if test="first_year != null and first_year !=''">
				and LEFT(A.belong_month,4) = #{first_year,jdbcType=VARCHAR}
			</if>
			<if test="product_manager_number != null and product_manager_number !=''">
				and A.product_manager = #{product_manager_number,jdbcType=VARCHAR}
			</if>
		</where>
		GROUP BY A.product_manager,A.belong_month
		ORDER BY money DESC
	</select>
	<select id="selectNoneBusinessPayment" parameterType="com.xinchi.bean.AirOtherPaymentDto" resultMap="OtherPaymentMap">
		SELECT
		SUM(IF(type='RECEIVE',money,0)) AS receive_money,
		SUM(IF(type='PAY',money,0)) AS pay_money,
		SUM(IF(type='RECEIVE',-money,money)) AS money,
		B.user_name  AS product_manager_name
		FROM
		air_ticket_paid_detail A
		LEFT JOIN user_base B ON A.product_manager = B.user_number
		<where>
			and (type = 'RECEIVE' OR type = 'PAY')
			<if test="first_month != null and first_month !=''">
				and belong_month = #{first_month,jdbcType=VARCHAR}
			</if>
			<if test="product_manager_number != null and product_manager_number !=''">
				and product_manager = #{product_manager_number,jdbcType=VARCHAR}
			</if>
		</where>
		GROUP BY product_manager
		ORDER BY money DESC
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		B.financial_body_pk,
		C.supplier_name AS financial_body_name,
		B.name AS supplier_employee_name,
		A.money,
		A.allot_money,
		A.sum_money,
		A.status,
		A.type,
		A.time,
		A.limit_time,
		A.confirm_time,
		A.approve_user,
		A.related_pk,
		A.comment,
		A.pk,
		A.voucher_number,
		A.create_user,
		A.update_user,
		A.base_pk,
		A.PNR,
		A.create_time,
		A.update_time,
		COALESCE(C.supplier_name, A.receiver) AS receiver,
		D.first_date,
		D.passenger,
		D.from_to_city,
		A.product_manager,
		E.user_name AS product_manager_name,
		A.belong_month
		from
		air_ticket_paid_detail A LEFT JOIN supplier_employee B ON
		A.supplier_employee_pk = B.pk
		LEFT JOIN supplier C ON B.financial_body_pk = C.pk
		LEFT JOIN air_ticket_payable D ON
		A.base_pk = D.pk
		LEFT JOIN user_base E ON A.product_manager = E.user_number
		<where>
			<if test="params.bo.statuses != null and params.bo.statuses !=''">
				and A.status in
				<foreach item="item" index="index" collection="params.bo.statuses" open="(" separator="," close=")">
					#{params.bo.statuses[${index}]}
				</foreach>
			</if>
			<if test="params.bo.date_from != null and params.bo.date_from !=''">
				and LEFT(A.time,10) &gt;= #{params.bo.date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.date_to != null and params.bo.date_to !=''">
				and LEFT(A.time,10) &lt;= #{params.bo.date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.belong_month != null and params.bo.belong_month !=''">
				and A.belong_month = #{params.bo.belong_month,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.product_manager != null and params.bo.product_manager !=''">
				and A.product_manager = #{params.bo.product_manager,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.money_from != null and params.bo.money_from !=''">
				and A.money &gt;= #{params.bo.money_from,jdbcType=DECIMAL}
			</if>
			<if test="params.bo.money_to != null and params.bo.money_to !=''">
				and A.money &lt;= #{params.bo.money_to,jdbcType=DECIMAL}
			</if>
			<if test="params.bo.money != null and params.bo.money !=''">
				and A.money = #{params.bo.money,jdbcType=DECIMAL}
			</if>
			<if test="params.bo.receiver != null and params.bo.receiver !=''">
				and COALESCE(C.supplier_name, A.receiver) like CONCAT('%',#{params.bo.receiver,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.type != null and params.bo.type !=''">
				and A.type =#{params.bo.type,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.from_to_city != null and params.bo.from_to_city !=''">
				and D.from_to_city like CONCAT('%',#{params.bo.from_to_city,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.first_date_from != null and params.bo.first_date_from !=''">
				and D.first_date &gt;= #{params.bo.first_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.first_date_to != null and params.bo.first_date_to !=''">
				and D.first_date &lt;= #{params.bo.first_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.voucher_number != null and params.bo.voucher_number !=''">
				and A.voucher_number like CONCAT('%',#{params.bo.voucher_number,jdbcType=VARCHAR},'%')
			</if>
			order by D.first_date DESC,A.time DESC
		</where>
	</select>
</mapper>