<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ClientMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ClientBean">
		<result column="client_name" property="client_name" jdbcType="VARCHAR" />
		<result column="client_short_name" property="client_short_name" jdbcType="VARCHAR" />
		<result column="client_area" property="client_area" jdbcType="VARCHAR" />
		<result column="client_county" property="client_county" jdbcType="VARCHAR" />
		<result column="client_type" property="client_type" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="body_name" property="body_name" jdbcType="VARCHAR" />
		<result column="body_sex" property="body_sex" jdbcType="VARCHAR" />
		<result column="body_id" property="body_id" jdbcType="VARCHAR" />
		<result column="body_birth_year" property="body_birth_year" jdbcType="VARCHAR" />
		<result column="body_wechat" property="body_wechat" jdbcType="VARCHAR" />
		<result column="body_cellphone" property="body_cellphone" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="approve_user" property="approve_user" jdbcType="VARCHAR" />
		<result column="update_reason" property="update_reason" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="sales" property="sales" jdbcType="VARCHAR" />
		<result column="sales_name" property="sales_name" jdbcType="VARCHAR" />
		<result column="public_flg" property="public_flg" jdbcType="CHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="agency_name" property="agency_name" jdbcType="VARCHAR" />
		<result column="agency_pk" property="agency_pk" jdbcType="CHAR" />
		<result column="delete_flg" property="delete_flg" jdbcType="CHAR" />
		<result column="relate_flg" property="relate_flg" jdbcType="CHAR" />
		<result column="client_employee_count" property="client_employee_count" jdbcType="INTEGER" />
		<result column="sum_balance" property="sum_balance" jdbcType="DECIMAL" />
		<result column="client_year_order_count" property="client_year_order_count" jdbcType="INTEGER" />
		<result column="last_order_date" property="last_order_date" jdbcType="VARCHAR" />
		<result column="main_business" property="main_business" jdbcType="VARCHAR" />
		<result column="store_type" property="store_type" jdbcType="VARCHAR" />
		<result column="back_level" property="back_level" jdbcType="VARCHAR" />
		<result column="market_level" property="market_level" jdbcType="VARCHAR" />
		<result column="talk_level" property="talk_level" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="AdminResultMap" extends="BaseResultMap" type="com.xinchi.bean.ClientBean">
		<collection column="pk" property="client_users" ofType="com.xinchi.bean.ClientUserBean" select="selectClientUserByClientPk">
			<result column="client_pk" property="client_pk" jdbcType="CHAR" />
			<result column="user_pk" property="user_pk" jdbcType="CHAR" />
			<result column="user_name" property="user_name" jdbcType="VACHAR" />
			<result column="pk" property="pk" jdbcType="CHAR" />
			<result column="create_user" property="create_user" jdbcType="VARCHAR" />
			<result column="update_user" property="update_user" jdbcType="VARCHAR" />
			<result column="create_time" property="create_time" jdbcType="VARCHAR" />
			<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		</collection>
	</resultMap>


	<resultMap id="DayPointMap" type="com.xinchi.bean.DayPointDto">
		<result column="point" property="point" jdbcType="DECIMAL" />
		<result column="sale_number" property="sale_number" jdbcType="VARCHAR" />
		<result column="sale_name" property="sale_name" jdbcType="VARCHAR" />
		<result column="day_date" property="day_date" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		client_name,
		client_short_name,
		client_area,
		client_type,
		telephone,
		fax,
		address,
		body_name,
		body_sex,
		body_id,
		body_birth_year,
		body_wechat,
		body_cellphone,
		create_user,
		update_user,
		approve_user,
		update_reason,
		comment,
		pk,
		sales,
		sales_name,
		public_flg,
		create_time,
		update_time,
		delete_flg,
		agency_name,
		agency_pk,
		relate_flg,
		main_business,
		store_type,
		back_level,
		market_level,
		talk_level,
		client_county
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from client
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from client
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<update id="stopCompany">
		update client set delete_flg='Y' where pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="recoveryCompany">
		update client set delete_flg='N' where pk in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<insert id="insert" parameterType="com.xinchi.bean.ClientBean">

		insert into client

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="client_name != null">
				client_name,
			</if>
			<if test="client_short_name != null">
				client_short_name,
			</if>
			<if test="client_area != null">
				client_area,
			</if>
			<if test="client_type != null">
				client_type,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="body_name != null">
				body_name,
			</if>
			<if test="body_sex != null">
				body_sex,
			</if>
			<if test="body_id != null">
				body_id,
			</if>
			<if test="body_birth_year != null">
				body_birth_year,
			</if>
			<if test="body_wechat != null">
				body_wechat,
			</if>
			<if test="body_cellphone != null">
				body_cellphone,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="approve_user != null">
				approve_user,
			</if>
			<if test="update_reason != null">
				update_reason,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="sales != null">
				sales,
			</if>
			<if test="sales_name != null">
				sales_name,
			</if>
			<if test="public_flg != null">
				public_flg,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="delete_flg != null">
				delete_flg,
			</if>
			<if test="agency_name != null">
				agency_name,
			</if>
			<if test="agency_pk != null">
				agency_pk,
			</if>
			<if test="relate_flg != null">
				relate_flg,
			</if>
			<if test="main_business != null">
				main_business,
			</if>
			<if test="store_type != null">
				store_type,
			</if>
			<if test="back_level != null">
				back_level,
			</if>
			<if test="market_level != null">
				market_level,
			</if>
			<if test="talk_level != null">
				talk_level,
			</if>
			<if test="client_county != null">
				client_county,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="client_name != null">
				#{client_name,jdbcType=VARCHAR},
			</if>
			<if test="client_short_name != null">
				#{client_short_name,jdbcType=VARCHAR},
			</if>
			<if test="client_area != null">
				#{client_area,jdbcType=VARCHAR},
			</if>
			<if test="client_type != null">
				#{client_type,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="body_name != null">
				#{body_name,jdbcType=VARCHAR},
			</if>
			<if test="body_sex != null">
				#{body_sex,jdbcType=VARCHAR},
			</if>
			<if test="body_id != null">
				#{body_id,jdbcType=VARCHAR},
			</if>
			<if test="body_birth_year != null">
				#{body_birth_year,jdbcType=VARCHAR},
			</if>
			<if test="body_wechat != null">
				#{body_wechat,jdbcType=VARCHAR},
			</if>
			<if test="body_cellphone != null">
				#{body_cellphone,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				#{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="update_reason != null">
				#{update_reason,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="sales != null">
				#{sales,jdbcType=VARCHAR},
			</if>
			<if test="sales_name != null">
				#{sales_name,jdbcType=VARCHAR},
			</if>
			<if test="public_flg != null">
				#{public_flg,jdbcType=CHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="delete_flg != null">
				#{delete_flg,jdbcType=CHAR},
			</if>
			<if test="agency_name != null">
				#{agency_name,jdbcType=VARCHAR},
			</if>
			<if test="agency_pk != null">
				#{agency_pk,jdbcType=CHAR},
			</if>
			<if test="relate_flg != null">
				#{relate_flg,jdbcType=CHAR},
			</if>

			<if test="main_business != null">
				#{main_business,jdbcType=VARCHAR},
			</if>
			<if test="store_type != null">
				#{store_type,jdbcType=VARCHAR},
			</if>
			<if test="back_level != null">
				#{back_level,jdbcType=VARCHAR},
			</if>
			<if test="market_level != null">
				#{market_level,jdbcType=VARCHAR},
			</if>
			<if test="talk_level != null">
				#{talk_level,jdbcType=VARCHAR},
			</if>
			<if test="client_county != null">
				#{client_county,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ClientBean">
		update client
		<set>
			<if test="client_name != null">
				client_name = #{client_name,jdbcType=VARCHAR},
			</if>
			<if test="client_short_name != null">
				client_short_name = #{client_short_name,jdbcType=VARCHAR},
			</if>
			<if test="client_area != null">
				client_area = #{client_area,jdbcType=VARCHAR},
			</if>
			<if test="client_type != null">
				client_type = #{client_type,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				fax = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="body_name != null">
				body_name = #{body_name,jdbcType=VARCHAR},
			</if>
			<if test="body_sex != null">
				body_sex = #{body_sex,jdbcType=VARCHAR},
			</if>
			<if test="body_id != null">
				body_id = #{body_id,jdbcType=VARCHAR},
			</if>
			<if test="body_birth_year != null">
				body_birth_year = #{body_birth_year,jdbcType=VARCHAR},
			</if>
			<if test="body_wechat != null">
				body_wechat = #{body_wechat,jdbcType=VARCHAR},
			</if>
			<if test="body_cellphone != null">
				body_cellphone = #{body_cellphone,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				create_time = #{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="approve_user != null">
				approve_user = #{approve_user,jdbcType=VARCHAR},
			</if>
			<if test="update_reason != null">
				update_reason = #{update_reason,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="sales != null">
				sales = #{sales,jdbcType=VARCHAR},
			</if>
			<if test="sales_name != null">
				sales_name = #{sales_name,jdbcType=VARCHAR},
			</if>
			<if test="public_flg != null">
				public_flg = #{public_flg,jdbcType=CHAR},
			</if>
			<if test="delete_flg != null">
				delete_flg = #{delete_flg,jdbcType=CHAR},
			</if>
			<if test="agency_name != null">
				agency_name = #{agency_name,jdbcType=CHAR},
			</if>
			<if test="agency_pk != null">
				agency_pk = #{agency_pk,jdbcType=CHAR},
			</if>
			<if test="relate_flg != null">
				relate_flg = #{relate_flg,jdbcType=CHAR},
			</if>
			<if test="main_business != null">
				main_business=#{main_business,jdbcType=VARCHAR},
			</if>
			<if test="store_type != null">
				store_type=#{store_type,jdbcType=VARCHAR},
			</if>
			<if test="back_level != null">
				back_level=#{back_level,jdbcType=VARCHAR},
			</if>
			<if test="market_level != null">
				market_level=#{market_level,jdbcType=VARCHAR},
			</if>
			<if test="talk_level != null">
				talk_level=#{talk_level,jdbcType=VARCHAR},
			</if>
			<if test="client_county != null">
				client_county=#{client_county,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ClientBean" resultMap="BaseResultMap">
		select
		A.client_name,
		A.client_short_name,
		A.client_area,
		A.client_county,
		A.client_type,
		A.telephone,
		A.fax,
		A.address,
		A.body_name,
		A.body_sex,
		A.body_id,
		A.body_birth_year,
		A.body_wechat,
		A.body_cellphone,
		A.create_user,
		A.update_user,
		A.approve_user,
		A.update_reason,
		A.comment,
		A.pk,
		A.public_flg,
		A.create_time,
		A.update_time,
		A.delete_flg,
		A.agency_name,
		A.agency_pk,
		A.relate_flg,
		A.main_business,
		A.store_type,
		A.back_level,
		A.market_level,
		A.talk_level
		from client A LEFT JOIN
		client_user B ON A.pk = B.client_pk
		<where>
			<if test="sales != null">
				and B.user_pk = #{sales,jdbcType=VARCHAR}
			</if>
			<if test="client_name != null">
				and A.client_name = #{client_name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.client_name,
		A.client_short_name,
		A.client_area,
		A.client_county,
		A.client_type,
		A.telephone,
		A.fax,
		A.address,
		A.body_name,
		A.body_sex,
		A.body_id,
		A.body_birth_year,
		A.body_wechat,
		A.body_cellphone,
		A.create_user,
		A.update_user,
		A.approve_user,
		A.update_reason,
		A.comment,
		A.pk,
		A.sales,
		if(ISNULL(B.user_name),'公开',B.user_name) AS sales_name,
		A.public_flg,
		A.create_time,
		A.update_time,
		A.delete_flg,
		A.agency_name,
		A.agency_pk,
		A.relate_flg,
		A.main_business,
		A.store_type,
		A.back_level,
		A.market_level,
		A.talk_level,
		C.client_employee_count,
		D.sum_balance,
		E.client_year_order_count,
		F.last_order_date
		from client A LEFT JOIN
		user_base B ON A.sales = B.pk
		LEFT JOIN
		view_client_employee_count C ON A.pk = C.client_pk
		LEFT JOIN
		view_client_receivable D ON A.pk = D.client_pk
		LEFT JOIN
		view_client_year_order_count E ON A.pk = E.client_pk
		LEFT JOIN
		view_client_last_order F ON A.pk = F.client_pk
		LEFT JOIN
		client_user G ON A.pk = G.client_pk
		<where>
			<if test="params.bo.sales != null and params.bo.sales !=''">
				and (G.user_pk = #{params.bo.sales,jdbcType=VARCHAR} OR A.public_flg='Y')
			</if>
			<if test="params.bo.client_name != null and params.bo.client_name !=''">
				and A.client_name like CONCAT('%',#{params.bo.client_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.client_short_name != null and params.bo.client_short_name !=''">
				and A.client_short_name like CONCAT('%',#{params.bo.client_short_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.address != null and params.bo.address !=''">
				and A.address like CONCAT('%',#{params.bo.address,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.client_area != null and params.bo.client_area !=''">
				and A.client_area = #{params.bo.client_area,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.client_county != null and params.bo.client_county !=''">
				and A.client_county = #{params.bo.client_county,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.store_type != null and params.bo.store_type !=''">
				and A.store_type=#{params.bo.store_type,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.back_level != null and params.bo.back_level !=''">
				and A.back_level=#{params.bo.back_level,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.statuses != null and params.bo.statuses !=''">
				and A.delete_flg in
				<foreach item="item" index="index" collection="params.bo.statuses" open="(" separator="," close=")">
					#{params.bo.statuses[${index}]}
				</foreach>
			</if>
			<if test="params.bo.relate_flgs != null and params.bo.relate_flgs !=''">
				and A.relate_flg in
				<foreach item="item" index="index" collection="params.bo.relate_flgs" open="(" separator="," close=")">
					#{params.bo.relate_flgs[${index}]}
				</foreach>
			</if>
			<if test='params.bo.public_flg != null and params.bo.public_flg =="1"'>
				and A.public_flg in ('Y','N')
			</if>
			<if test='params.bo.public_flg != null and params.bo.public_flg =="2"'>
				and A.public_flg ='N'
			</if>
			<if test="params.bo.talk_levels != null and params.bo.talk_levels !=''">
				and A.talk_level in
				<foreach item="item" index="index" collection="params.bo.talk_levels" open="(" separator="," close=")">
					#{params.bo.talk_levels[${index}]}
				</foreach>
			</if>
			<if test="params.bo.main_businesses != null and params.bo.main_businesses !=''">
				and A.main_business in
				<foreach item="item" index="index" collection="params.bo.main_businesses" open="(" separator="," close=")">
					#{params.bo.main_businesses[${index}]}
				</foreach>
			</if>
		</where>
		ORDER BY address DESC
	</select>
	<select id="selectAdminByPage" parameterType="com.xinchi.tools.Page" resultMap="AdminResultMap">
		select
		A.client_name,
		A.client_short_name,
		A.client_area,
		A.client_county,
		A.client_type,
		A.telephone,
		A.fax,
		A.address,
		A.body_name,
		A.body_sex,
		A.body_id,
		A.body_birth_year,
		A.body_wechat,
		A.body_cellphone,
		A.create_user,
		A.update_user,
		A.approve_user,
		A.update_reason,
		A.comment,
		A.pk,
		A.public_flg,
		A.create_time,
		A.update_time,
		A.delete_flg,
		A.agency_name,
		A.agency_pk,
		A.relate_flg,
		A.main_business,
		A.store_type,
		A.back_level,
		A.market_level,
		A.talk_level,
		C.client_employee_count,
		D.sum_balance,
		E.client_year_order_count,
		F.last_order_date
		from client A LEFT JOIN
		view_client_employee_count C ON A.pk = C.client_pk
		LEFT JOIN
		view_client_receivable D ON A.pk = D.client_pk
		LEFT JOIN
		view_client_year_order_count E ON A.pk = E.client_pk
		LEFT JOIN
		view_client_last_order F ON A.pk
		= F.client_pk
		<where>
			<if test="params.bo.client_name != null and params.bo.client_name !=''">
				and A.client_name like CONCAT('%',#{params.bo.client_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.client_short_name != null and params.bo.client_short_name !=''">
				and A.client_short_name like CONCAT('%',#{params.bo.client_short_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.address != null and params.bo.address !=''">
				and A.address like CONCAT('%',#{params.bo.address,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.client_area != null and params.bo.client_area !=''">
				and A.client_area = #{params.bo.client_area,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.client_county != null and params.bo.client_county !=''">
				and A.client_county = #{params.bo.client_county,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.store_type != null and params.bo.store_type !=''">
				and A.store_type=#{params.bo.store_type,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.back_level != null and params.bo.back_level !=''">
				and A.back_level=#{params.bo.back_level,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.statuses != null and params.bo.statuses !=''">
				and A.delete_flg in
				<foreach item="item" index="index" collection="params.bo.statuses" open="(" separator="," close=")">
					#{params.bo.statuses[${index}]}
				</foreach>
			</if>
			<if test="params.bo.relate_flgs != null and params.bo.relate_flgs !=''">
				and A.relate_flg in
				<foreach item="item" index="index" collection="params.bo.relate_flgs" open="(" separator="," close=")">
					#{params.bo.relate_flgs[${index}]}
				</foreach>
			</if>
			<if test='params.bo.public_flg != null and params.bo.public_flg =="1"'>
				and A.public_flg in ('Y','N')
			</if>
			<if test='params.bo.public_flg != null and params.bo.public_flg =="2"'>
				and A.public_flg ='N'
			</if>
			<if test="params.bo.talk_levels != null and params.bo.talk_levels !=''">
				and A.talk_level in
				<foreach item="item" index="index" collection="params.bo.talk_levels" open="(" separator="," close=")">
					#{params.bo.talk_levels[${index}]}
				</foreach>
			</if>
			<if test="params.bo.main_businesses != null and params.bo.main_businesses !=''">
				and A.main_business in
				<foreach item="item" index="index" collection="params.bo.main_businesses" open="(" separator="," close=")">
					#{params.bo.main_businesses[${index}]}
				</foreach>
			</if>
		</where>
		ORDER BY address DESC
	</select>
	<select id="selectClientUserByClientPk" parameterType="java.lang.String" resultType="com.xinchi.bean.ClientUserBean">
		select
		A.client_pk,A.user_pk,if(ISNULL(B.user_name),'公开',B.user_name) AS
		user_name,A.pk,A.create_time,A.create_user,A.update_time,A.update_user
		from client_user A LEFT
		JOIN user_base B ON
		A.user_pk= B.pk
		where A.client_pk = #{pk,jdbcType=CHAR}
	</select>

	<select id="selectTodayPoint" parameterType="java.lang.String" resultMap="DayPointMap">


	</select>
</mapper>