<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.OrderReportMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.OrderReportDto">
		<result column="team_number" property="team_number" jdbcType="VARCHAR" />
		<result column="order_type" property="order_type" jdbcType="VARCHAR" />
		<result column="client_employee_pk" property="client_employee_pk" jdbcType="CHAR" />
		<result column="client_employee_name" property="client_employee_name" jdbcType="VARCHAR" />
		<result column="departure_date" property="departure_date" jdbcType="VARCHAR" />
		<result column="product_name" property="product_name" jdbcType="VARCHAR" />
		<result column="people_count" property="people_count" jdbcType="INTEGER" />
		<result column="receivable" property="receivable" jdbcType="DECIMAL" />
		<result column="air_ticket_cost" property="air_ticket_cost" jdbcType="DECIMAL" />
		<result column="train_ticket_cost" property="train_ticket_cost" jdbcType="DECIMAL" />
		<result column="product_cost" property="product_cost" jdbcType="DECIMAL" />
		<result column="other_cost" property="other_cost" jdbcType="DECIMAL" />
		<result column="fy" property="fy" jdbcType="DECIMAL" />
		<result column="gross_profit" property="gross_profit" jdbcType="DECIMAL" />
		<result column="per_profit" property="per_profit" jdbcType="DECIMAL" />
		<result column="confirm_date" property="confirm_date" jdbcType="VARCHAR" />
		<result column="sale_name" property="sale_name" jdbcType="VARCHAR" />
		<result column="sale_number" property="sale_number" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectOrderReportByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		SELECT
		A.team_number,
		A.product_name,
		A.client_employee_pk,
		A.client_employee_name,
		A.other_cost,
		A.fy,
		IF(B.final_flg = 'Y',
		final_receivable,
		budget_receivable) AS receivable,
		A.air_ticket_cost,
		C.payable AS product_cost,
		A.departure_date,
		A.pk,
		A.confirm_flg AS order_type,
		(A.adult_count + IF(ISNULL(A.special_count),
		0,
		A.special_count)) AS people_count,
		A.update_user,
		A.create_user_number AS sale_number,
		A.create_user AS sale_name,
		IF(B.final_flg = 'Y',
		final_receivable,
		budget_receivable) - IF(ISNULL(A.air_ticket_cost),
		0,
		A.air_ticket_cost) - IF(ISNULL(A.other_cost),
		0,
		A.other_cost) - IF(ISNULL(C.payable),
		0,
		C.payable) - IF(ISNULL(A.fy), 0, A.fy) AS gross_profit,
		(IF(B.final_flg = 'Y',
		final_receivable,
		budget_receivable) - IF(ISNULL(A.air_ticket_cost),
		0,
		A.air_ticket_cost) - IF(ISNULL(A.other_cost),
		0,
		A.other_cost) - IF(ISNULL(C.payable),
		0,
		C.payable) - IF(ISNULL(A.fy), 0, A.fy)) / (A.adult_count + IF(ISNULL(A.special_count),
		0,
		A.special_count)) AS per_profit,
		A.confirm_flg,
		A.create_time,
		A.update_time,
		A.confirm_date
		FROM
		budget_order_view A
		LEFT JOIN
		receivable B ON A.team_number = B.team_number
		LEFT JOIN view_team_payable C ON A.team_number= C.team_number
		<where>
			<if test="params.bo.sale_number != null and params.bo.sale_number !=''">
				and A.create_user_number like CONCAT('%', #{params.bo.sale_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.team_number != null and params.bo.team_number !=''">
				and A.team_number like CONCAT('%',#{params.bo.team_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_name != null and params.bo.product_name !=''">
				and A.product_name like CONCAT('%',#{params.bo.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.departure_date_from != null and params.bo.departure_date_from !=''">
				and A.departure_date &gt;= #{params.bo.departure_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.departure_date_to != null and params.bo.departure_date_to !=''">
				and A.departure_date &lt;= #{params.bo.departure_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_from != null and params.bo.confirm_date_from !=''">
				and A.confirm_date &gt;= #{params.bo.confirm_date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.confirm_date_to != null and params.bo.confirm_date_to !=''">
				and A.confirm_date &lt;= #{params.bo.confirm_date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.product_manager_number != null and params.bo.product_manager_number !=''">
				and A.product_manager_number = #{params.bo.product_manager_number,jdbcType=VARCHAR}
			</if>

			and (confirm_flg='Y' or confirm_flg='F')
		</where>
		ORDER BY A.departure_date DESC
	</select>
</mapper>