<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ProductOrderMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.ProductOrderBean">
		<result column="order_number" property="order_number" jdbcType="VARCHAR" />
		<result column="single_flg" property="single_flg" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="product_name" property="product_name" jdbcType="VARCHAR" />
		<result column="product_model" property="product_model" jdbcType="VARCHAR" />
		<result column="departure_date" property="departure_date" jdbcType="VARCHAR" />
		<result column="adult_count" property="adult_count" jdbcType="INTEGER" />
		<result column="days" property="days" jdbcType="INTEGER" />
		<result column="special_count" property="special_count" jdbcType="INTEGER" />
		<result column="air_comment" property="air_comment" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="product_manager_number" property="product_manager_number" jdbcType="VARCHAR" />
		<result column="product_manager" property="product_manager" jdbcType="VARCHAR" />
		<result column="update_user" property="update_user" jdbcType="VARCHAR" />
		<result column="create_user" property="create_user" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="standard_flg" property="standard_flg" jdbcType="CHAR" />
		<result column="product_pk" property="product_pk" jdbcType="CHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="passenger_captain" property="passenger_captain" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		order_number,
		single_flg,
		status,
		product_name,
		product_model,
		departure_date,
		adult_count,
		special_count,
		air_comment,
		comment,
		product_manager_number,
		update_user,
		create_user,
		pk,
		create_time,
		update_time,
		passenger_captain,
		standard_flg,
		product_pk,
		days
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product_order
		where pk = #{pk,jdbcType=CHAR}
	</select>
	<select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product_order
		where order_number = #{order_number,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from product_order
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.ProductOrderBean">

		insert into product_order

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="order_number != null">
				order_number,
			</if>
			<if test="single_flg != null">
				single_flg,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="product_name != null">
				product_name,
			</if>
			<if test="product_model != null">
				product_model,
			</if>
			<if test="departure_date != null">
				departure_date,
			</if>
			<if test="adult_count != null">
				adult_count,
			</if>
			<if test="special_count != null">
				special_count,
			</if>
			<if test="days != null">
				days,
			</if>
			<if test="air_comment != null">
				air_comment,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="product_manager_number != null">
				product_manager_number,
			</if>
			<if test="update_user != null">
				update_user,
			</if>
			<if test="create_user != null">
				create_user,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="standard_flg != null">
				standard_flg,
			</if>
			<if test="product_pk != null">
				product_pk,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="passenger_captain != null">
				passenger_captain,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="order_number != null">
				#{order_number,jdbcType=VARCHAR},
			</if>
			<if test="single_flg != null">
				#{single_flg,jdbcType=CHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="product_name != null">
				#{product_name,jdbcType=VARCHAR},
			</if>
			<if test="product_model != null">
				#{product_model,jdbcType=VARCHAR},
			</if>
			<if test="departure_date != null">
				#{departure_date,jdbcType=VARCHAR},
			</if>
			<if test="adult_count != null">
				#{adult_count,jdbcType=INTEGER},
			</if>
			<if test="special_count != null">
				#{special_count,jdbcType=INTEGER},
			</if>
			<if test="days != null">
				#{days,jdbcType=INTEGER},
			</if>
			<if test="air_comment != null">
				#{air_comment,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="product_manager_number != null">
				#{product_manager_number,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				#{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				#{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="standard_flg != null">
				#{standard_flg,jdbcType=CHAR},
			</if>
			<if test="product_pk != null">
				#{product_pk,jdbcType=CHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
			<if test="passenger_captain != null">
				#{passenger_captain,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ProductOrderBean">
		update product_order
		<set>
			<if test="order_number != null">
				order_number = #{order_number,jdbcType=VARCHAR},
			</if>
			<if test="single_flg != null">
				single_flg = #{single_flg,jdbcType=CHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="product_name != null">
				product_name = #{product_name,jdbcType=VARCHAR},
			</if>
			<if test="product_model != null">
				product_model = #{product_model,jdbcType=VARCHAR},
			</if>
			<if test="departure_date != null">
				departure_date = #{departure_date,jdbcType=VARCHAR},
			</if>
			<if test="adult_count != null">
				adult_count = #{adult_count,jdbcType=INTEGER},
			</if>
			<if test="special_count != null">
				special_count = #{special_count,jdbcType=INTEGER},
			</if>
			<if test="days != null">
				days = #{days,jdbcType=INTEGER},
			</if>
			<if test="air_comment != null">
				air_comment = #{air_comment,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="product_manager_number != null">
				product_manager_number = #{product_manager_number,jdbcType=VARCHAR},
			</if>
			<if test="update_user != null">
				update_user = #{update_user,jdbcType=VARCHAR},
			</if>
			<if test="create_user != null">
				create_user = #{create_user,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="standard_flg != null">
				standard_flg = #{standard_flg,jdbcType=CHAR},
			</if>
			<if test="product_pk != null">
				product_pk = #{product_pk,jdbcType=CHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="passenger_captain != null">
				passenger_captain = #{passenger_captain,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.ProductOrderBean" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from product_order
	</select>

	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		SELECT
		A.order_number,
		A.single_flg,
		A.status,
		A.product_name,
		A.product_model,
		A.departure_date,
		A.adult_count,
		A.special_count,
		A.air_comment,
		A.comment,
		A.product_manager_number,
		A.update_user,
		A.create_user,
		A.pk,
		A.create_time,
		A.update_time,
		A.passenger_captain,
		A.standard_flg,
		A.product_pk,
		A.days,
		B.user_name AS product_manager
		FROM
		product_order A
		LEFT JOIN
		user_base B ON A.product_manager_number = B.user_number

		<where>
			<if test="params.bo.product_manager_number != null and params.bo.product_manager_number !=''">
				and A.product_manager_number = #{params.bo.product_manager_number,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.product_name != null and params.bo.product_name !=''">
				and A.product_name like concat('%', #{params.bo.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.product_model != null and params.bo.product_model !=''">
				and A.product_model like concat('%', #{params.bo.product_model,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.order_number != null and params.bo.order_number !=''">
				and A.order_number like concat('%',#{params.bo.order_number,jdbcType=VARCHAR},'%')
			</if>
			<if test="params.bo.date_from != null and params.bo.date_from !=''">
				and A.departure_date >=#{params.bo.date_from,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.date_to != null and params.bo.date_to !=''">
				and A.departure_date &lt;=#{params.bo.date_to,jdbcType=VARCHAR}
			</if>
			<if test="params.bo.statuses != null and params.bo.statuses !=''">
				and A.status in
				<foreach item="item" index="index" collection="params.bo.statuses" open="(" separator="," close=")">
					#{params.bo.statuses[${index}]}
				</foreach>
			</if>
		</where>
		order by A.departure_date DESC
	</select>
</mapper>