<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.ReceivedMatchMapper" >
  <resultMap id="BaseResultMap" type="com.xinchi.bean.ReceivedMatchBean" >
	    <result column="detail_pk" property="detail_pk" jdbcType="CHAR" />
	    <result column="received_pk" property="received_pk" jdbcType="CHAR" />
	    <result column="pk" property="pk" jdbcType="CHAR" />
	    <result column="create_user" property="create_user" jdbcType="VARCHAR" />
	    <result column="update_user" property="update_user" jdbcType="VARCHAR" />
	 	<result column="create_time" property="create_time" jdbcType="VARCHAR" />
 	    <result column="update_time" property="update_time" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    	detail_pk, 
    	received_pk, 
    	pk, 
    	create_user, 
    	update_user, 
    	create_time,
    	update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from received_match
    where pk = #{pk,jdbcType=CHAR}
  </select>
  <select id="selectByDetailPk" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from received_match
    where detail_pk = #{detail_pk,jdbcType=CHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from received_match
    where pk = #{pk,jdbcType=CHAR}
  </delete>
  
  <insert id="insert" parameterType="com.xinchi.bean.ReceivedMatchBean" >
  	
    insert into received_match
    
    <trim prefix="(" suffix=")" suffixOverrides=",">
	 	<if test="detail_pk != null">
	        detail_pk,
	      </if>
	 	<if test="received_pk != null">
	        received_pk,
	      </if>
	 	<if test="pk != null">
	        pk,
	      </if>
	 	<if test="create_user != null">
	        create_user,
	      </if>
	 	<if test="update_user != null">
	        update_user,
	      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="detail_pk != null">
	        #{detail_pk,jdbcType=CHAR},
	      </if>
    	<if test="received_pk != null">
	        #{received_pk,jdbcType=CHAR},
	      </if>
    	<if test="pk != null">
	        #{pk,jdbcType=CHAR},
	      </if>
    	<if test="create_user != null">
	        #{create_user,jdbcType=VARCHAR},
	      </if>
    	<if test="update_user != null">
	        #{update_user,jdbcType=VARCHAR},
	      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
       <if test="update_time != null">
        #{update_time,jdbcType=VARCHAR},
      </if>
    </trim>		
  </insert>
  

  <update id="updateByPrimaryKey" parameterType="com.xinchi.bean.ReceivedMatchBean" >
    update received_match
    <set >
    	<if test="detail_pk != null">
	        detail_pk = #{detail_pk,jdbcType=CHAR},
	      </if>
    	<if test="received_pk != null">
	        received_pk = #{received_pk,jdbcType=CHAR},
	      </if>
    	<if test="pk != null">
	        pk = #{pk,jdbcType=CHAR},
	      </if>
    	<if test="create_user != null">
	        create_user = #{create_user,jdbcType=VARCHAR},
	      </if>
    	<if test="update_user != null">
	        update_user = #{update_user,jdbcType=VARCHAR},
	      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=CHAR}
  </update>
 <select id="selectByParam" parameterType="com.xinchi.bean.ReceivedMatchBean" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from received_match
   </select>
</mapper>