<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.RuleViewMapper" >
  <resultMap id="BaseResultMap" type="com.xinchi.bean.RuleViewBean" >
    	<id column="id" property="id" jdbcType="CHAR" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="content" property="content" jdbcType="LONGVARCHAR" />
	    <result column="update_user" property="update_user" jdbcType="VARCHAR" />
	    <result column="pk" property="pk" jdbcType="CHAR" />
	    <result column="create_user" property="create_user" jdbcType="VARCHAR" />
	 	<result column="create_time" property="create_time" jdbcType="VARCHAR" />
 	    <result column="update_time" property="update_time" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  		
    	title, 
    	content, 
    	update_user, 
    	pk, 
    	create_user, 
    	create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rule_view
    where pk = #{pk,jdbcType=CHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rule_view
    where pk = #{pk,jdbcType=CHAR}
  </delete>
  
  <insert id="insert" parameterType="com.xinchi.bean.RuleViewBean" >
  	
    insert into rule_view
    
    <trim prefix="(" suffix=")" suffixOverrides=",">
	 	<if test="title != null">
	        title,
	      </if>
	 	<if test="content != null">
	        content,
	      </if>
	 	<if test="update_user != null">
	        update_user,
	      </if>
	 	<if test="pk != null">
	        pk,
	      </if>
	 	<if test="create_user != null">
	        create_user,
	      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="title != null">
	        #{title,jdbcType=VARCHAR},
	      </if>
    	<if test="content != null">
	        #{content,jdbcType=LONGVARCHAR},
	      </if>
    	<if test="update_user != null">
	        #{update_user,jdbcType=VARCHAR},
	      </if>
    	<if test="pk != null">
	        #{pk,jdbcType=CHAR},
	      </if>
    	<if test="create_user != null">
	        #{create_user,jdbcType=VARCHAR},
	      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
       <if test="update_time != null">
        #{update_time,jdbcType=VARCHAR},
      </if>
    </trim>		
  </insert>
  

  <update id="updateByPrimaryKey" parameterType="com.xinchi.bean.RuleViewBean" >
    update rule_view
    <set >
    	<if test="title != null">
	        title = #{title,jdbcType=VARCHAR},
	      </if>
    	<if test="content != null">
	        content = #{content,jdbcType=LONGVARCHAR},
	      </if>
    	<if test="update_user != null">
	        update_user = #{update_user,jdbcType=VARCHAR},
	      </if>
    	<if test="pk != null">
	        pk = #{pk,jdbcType=CHAR},
	      </if>
    	<if test="create_user != null">
	        create_user = #{create_user,jdbcType=VARCHAR},
	      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=CHAR}
  </update>
 <select id="selectByParam" parameterType="com.xinchi.bean.RuleViewBean" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from rule_view
   </select>
   	<select id="selectByPage" parameterType="com.xinchi.tools.Page" resultMap="BaseResultMap">
		select
		A.title,
		A.content,
		A.update_user,
		A.pk,
		B.user_name as create_user,
		A.create_time,
		A.update_time
		from rule_view A LEFT JOIN user_base B on A.create_user = B.user_number
		ORDER BY A.title
	</select>
</mapper>