<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinchi.bean.mapper.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.xinchi.bean.UserInfoBean">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="id_file_name" property="id_file_name" jdbcType="VARCHAR" />
		<result column="user_right" property="user_right" jdbcType="VARCHAR" />
		<result column="pk" property="pk" jdbcType="CHAR" />
		<result column="nick_name" property="nick_name" jdbcType="VARCHAR" />
		<result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="VARCHAR" />
		<result column="user_role" property="user_role" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		id,
		id_file_name,
		user_right,
		pk,
		nick_name,
		cellphone,
		user_role,
		create_time,update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_info
		where pk = #{pk,jdbcType=CHAR}
	</select>

	<select id="selectByUserId" resultType="com.xinchi.bean.UserInfoBean"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_info
		where id = #{id,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from user_info
		where pk = #{pk,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.xinchi.bean.UserInfoBean">

		insert into user_info

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="id_file_name != null">
				id_file_name,
			</if>
			<if test="user_right != null">
				user_right,
			</if>
			<if test="pk != null">
				pk,
			</if>
			<if test="nick_name != null">
				nick_name,
			</if>
			<if test="cellphone != null">
				cellphone,
			</if>
			<if test="user_role != null">
				user_role,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="id_file_name != null">
				#{id_file_name,jdbcType=VARCHAR},
			</if>
			<if test="user_right != null">
				#{user_right,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				#{pk,jdbcType=CHAR},
			</if>
			<if test="nick_name != null">
				#{nick_name,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null">
				#{cellphone,jdbcType=VARCHAR},
			</if>
		    <if test="user_role != null">
				#{user_role,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.xinchi.bean.UserInfoBean">
		update user_info
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="id_file_name != null">
				id_file_name = #{id_file_name,jdbcType=VARCHAR},
			</if>
			<if test="user_right != null">
				user_right = #{user_right,jdbcType=VARCHAR},
			</if>
			<if test="pk != null">
				pk = #{pk,jdbcType=CHAR},
			</if>
			<if test="nick_name != null">
				nick_name = #{nick_name,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null">
				cellphone = #{cellphone,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				update_time = #{update_time,jdbcType=VARCHAR},
			</if>
			<if test="user_role != null">
				user_role = #{user_role,jdbcType=VARCHAR},
			</if>
		</set>
		where pk = #{pk,jdbcType=CHAR}
	</update>
	<select id="selectByParam" parameterType="com.xinchi.bean.UserInfoBean"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info
		<where>
			<if test="user_id !=null">
				user_id = #{user_id,jdbcType=CHAR}
			</if>
			<if test="res_id !=null">
				and res_id = #{res_id,jdbcType=CHAR}
			</if>
		</where>
	</select>
</mapper>