{% extends "layout.html" %}

{% block title %}
    - 新增财务数据
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/vendor/datetimepicker/jquery.datetimepicker.css"/>
{% endblock %}

{% block content%}
  <div class="main-body">
    <div class="subtitle">
        <h2>新增财务数据<a href="/finance-rolls" class="cancel-create"><i class="ic-cancel"></i>取消</a></h2>
    </div>

    <div class="main-container">
        <div class="main-box">
            <form class="form-box info-form">
                <div class="input-row clearfloat">
                    <div class="col-md-6 required">
                        <label class="l">委托企业</label>
                        <div class="ip"><select class="form-control" data-bind="options: companies, optionsCaption: '-- 请选择 --', optionsText: 'name', optionsValue: 'id', value: financeRoll().companyId" name="company" required="required"></select></div>
                    </div>
                    <div class="col-md-6 required">
                        <label class="l">项目名称</label>
                        <div class="ip"><select class="form-control" data-bind="options: projects, optionsCaption: '-- 请选择 --', optionsText: 'name', optionsValue: 'id', value: financeRoll().projectId" name="project" id="project" required="required"></select></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">预付款日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().advancePaymentDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">预付款</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().advancePaymentAmount" placeholder="预付款"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">项目截止日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().projectEndDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">单价</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().unitAmount" placeholder="单价"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">入职人数</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().unitAmount" placeholder="入职人数"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">总额</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().totalAmount" placeholder="总额"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">首笔应收日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().firstPaymentDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">首笔应收金额</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().firstPaymentAmount" placeholder="首笔应收款金额"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">首笔实收日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().firstPaymentReceivedDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">首笔实收金额</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().firstPaymentReceivedAmount" placeholder="首笔实收款金额"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">尾款应收日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().lastPaymentDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">尾款应收金额</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().lastPaymentAmount" placeholder="尾款应收款金额"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6">
                        <label class="l">尾款实收日期</label>
                        <div class="ip"><input type="text" class="ip- date-picker" data-bind="value: financeRoll().lastPaymentReceivedDate" placeholder="年-月-日"/></div>
                    </div>
                    <div class="col-md-6">
                        <label class="l">尾款实收金额</label>
                        <div class="ip"><input type="number" class="ip-" data-bind="value: financeRoll().lastPaymentReceivedAmount" placeholder="尾款实收款金额"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-6 required">
                        <label class="l">所属顾问</label>
                        <div class="ip"><select class="form-control" data-bind="options: allSales, optionsCaption: '-- 请选择 --', optionsText: 'employeeName', optionsValue: 'employeeName', value: financeRoll().projectManager" name="sales" required="required"></select></div>
                    </div>
                </div>
            </form>
            <div align="right"><a class="btn btn-green btn-r" data-bind="click: createFinanceRoll">保存</a></div>
        </div>
    </div>
  </div>
  <script src="/static/vendor/datetimepicker/jquery.datetimepicker.js"></script>
  <script>
    $(".finance").addClass("current").children("ol").css("display", "block");
  </script>
  <script src="/static/js/finance/finance-creation.js{{ _suffix_ }}"></script>
{% endblock %}
