{% extends "layout.html" %}

{% block title %}
    - 修改员工密码
{% endblock %}

{% block content%}
  <input type="hidden" id="hidden_employee_id" value="{{ employeeId }}">
  <div class="main-body">
    <div class="subtitle">
        <h2>修改员工密码<a href="/employees/{{ employeeId }}/detail" class="cancel-create"><i class="ic-cancel"></i>取消</a></h2>
    </div>

    <div class="main-container">
        <div class="main-box">
            <form class="form-box info-form">
                <div class="input-row clearfloat">
                    <div class="col-md-12">
                        <label class="l">员工编号</label>
                        <div class="ip"><p class="ip-default" data-bind="text: employee().id"></p></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-12">
                        <label class="l">员工姓名</label>
                        <div class="ip"><p class="ip-default" data-bind="text: employee().employeeName"></p></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-12">
                        <label class="l">登录名</label>
                        <div class="ip"><p class="ip-default" data-bind="text: employee().username"></p></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-12 required">
                        <label class="l">旧密码</label>
                        <div class="ip"><input type="password" class="ip-default" data-bind="value: changePasswordRequest().oldPassword" placeholder="旧密码" name="oldPassword" required="required" /></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-12 required">
                        <label class="l">新密码</label>
                        <div class="ip"><input type="password" class="ip-default" data-bind="value: changePasswordRequest().newPassword" placeholder="新密码" name="password" id="password" required="required"/></div>
                    </div>
                </div>
                <div class="input-row clearfloat">
                    <div class="col-md-12 required">
                        <label class="l">确认新密码</label>
                        <div class="ip"><input type="password" class="ip-default" placeholder="确认新密码" name="c_password" id="c_password" required="required"/></div>
                    </div>
                </div>
            </form>
            <div align="right"><a class="btn btn-green btn-r" data-bind="click: changePassword">修改密码</a></div>
        </div>
    </div>
  </div>
  <script>
      $(".employees").addClass("current").children("ol").css("display", "block");
      $(".tab-title").on("click", function() {
          $(this).parent().addClass("active").siblings(".active").removeClass("active");
          $("#" + $(this).data("id")).show().siblings(".list-result").hide();
      });
  </script>
  <script src="/static/js/employees/employee-detail.js{{ _suffix_ }}"></script>
{% endblock %}
